---
layout: default
---

<%= render CitizensAdviceComponents::PageContent.new do |c| %>
  <% c.with_main do %>
    <h1 class="cads-page-title"><%= resource.data.title %></h1>
    <div class="cads-prose">
      <%= content %>
    </div>
  <% end %>
<% end %>
