---
layout: default
---

<%= render Shared::PageLayout.new do |c| %>
  <% c.with_main do %>
    <h1 class="cads-page-title"><%= resource.data.title %></h1>
    <% if resource.data.show_on_this_page.present? %>
      <%= render(Shared::OnThisPage.new(content)) %>
    <% end %>
    <div class="cads-prose">
      <%= content %>
    </div>
  <% end %>
<% end %>
