---
layout: default
---

<main id="cads-main-content" class="cads-grid-container cads-page-content">
  <div class="cads-grid-row">
    <div class="cads-grid-col-md-8">
      <%= content %>
    </div>
  </div>
</main>
