<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <title>Design system docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <main>
      
    </main>

  </body>
</html>
