// component specific print styles should be in the component scss file, not here

@media print {
  @page {
    /* stylelint-disable */
    size: A4; /* DIN A4 standard, Europe */
    /* stylelint-enable */
    margin: 13mm 12mm;
  }

  html,
  body {
    margin: 0;
    background: #fff;
    overflow: visible;
  }
}
