- input = { "name" => "example-input", "label" => "Example input", "hint" => "This is the hint for the input", "optional" => true }
= render partial: "@citizensadvice/design-system/haml/input", locals: { input: input }
