= render partial: "@citizensadvice/design-system/haml/input",
  locals: { input: { "name" => "example-input-fixed-2", "label" => "Example input", "hint" => "This input is 2 characters wide", "size" => "2ch" } }

= render partial: "@citizensadvice/design-system/haml/input",
  locals: { input: { "name" => "example-input-fixed-4", "label" => "Example input", "hint" => "This input is 4 characters wide", "size" => "4ch" } }

= render partial: "@citizensadvice/design-system/haml/input",
  locals: { input: { "name" => "example-input-fixed-8", "label" => "Example input", "hint" => "This input is 8 characters wide", "size" => "8ch" } }

= render partial: "@citizensadvice/design-system/haml/input",
  locals: { input: { "name" => "example-input-fixed-16", "label" => "Example input", "hint" => "This input is 16 characters wide", "size" => "16ch" } }
