- input = { "name" => "example-input-with-hint", "label" => "Example input", "hint" => "This is the hint for the input" }
= render partial: "@citizensadvice/design-system/haml/input", locals: { input: input }
