- input = { "name" => "example-input-with-error", "label" => "Example input", "hint" => "This is the hint for the input", "optional" => true, "error_message" => "This is an error messsage", "has_error" => true }
= render partial: "@citizensadvice/design-system/haml/input", locals: { input: input }
