<%= render PageLayoutComponent.new do |c| %>
  <% c.with_main do %>
    <h1 class="cads-page-title">citizens_advice_components demo app</h1>
    <div class="cads-prose">
      <ul>
        <% HighVoltage.page_ids.each do |page| %>
          <li><%= link_to page.titleize, page_path(id: page) %></li>
        <% end %>
        <li><%= link_to("Form sample", example_form_new_path) %></li>
        <li><%= link_to("View Component previews", preview_view_components_path) %></li>
      </ul>
    </div>
  <% end %>
<% end  %>
