%main.cads-page-content
  .cads-grid-container
    .cads-grid-row
      .cads-grid-col-12
        %h1.cads-page-title Engine demo app
        .cads-prose
          %ul
            %li= link_to "Kitchen sink", kitchen_sink_path
            %li= link_to "View Component previews", "/rails/view_components"

