<div class="cads-grid-container">
  <div class="cads-grid-row">
    <div class="cads-grid-col-12">
      <main class="cads-page-content">
        <h1 class="cads-page-title">Engine demo app</h1>
        <div class="cads-prose">
          <ul>
            <li>
              <%= link_to("View Component previews", "/rails/view_components") %>
            </li>
          </ul>
        </div>
      </main>
    </div>
  </div>
</div>

