- radio = { "name" => "example-textarea", "label" => "Example textarea", "hint" => "This is the hint for the textarea", "optional" => true, "options" => [{ "value" => "opt1", "label" => "Option 1" }, { "value" => "opt2", "label" => "Option 2" }] }
= render partial: "@citizensadvice/design-system/haml/radio_group", locals: { radio: radio }
