- radio = { "name" => "example-radio-group-with-long-options", "label" => "Example radio group", "hint" => "This is the hint for the radio group", "options" => [{ "value" => "opt1", "label" => "This option is pretty long and will probably wrap over multiple lines" }, { "value" => "opt2", "checked" => true, "label" => "This option is also pretty long, too long even, and will almost definitely wrap over multiple lines" }] }
= render partial: "@citizensadvice/design-system/haml/radio_group", locals: { radio: radio }
