- radio = { "name" => "example-radio-group-small", "label" => "Example radio group", "options" => [{ "value" => "opt1", "label" => "Option 1" }, { "value" => "opt2", "label" => "Option 2" }], "small" => true }
= render partial: "@citizensadvice/design-system/haml/radio_group", locals: { radio: radio }
