- radio = { "name" => "example-radio-group", "label" => "Example radio group", "hint" => "This is the hint for the radio group", "options" => [{ "value" => "opt1", "label" => "Option 1" }, { "value" => "opt2", "label" => "Option 2" }], "is_compact" => true }
= render partial: "@citizensadvice/design-system/haml/radio_group", locals: { radio: radio }
