- radio = { "name" => "example-radio-group-optional", "label" => "Example radio group", "hint" => "This is the hint for the radio group", "optional" => true, "options" => [{ "value" => "opt1", "label" => "Option 1" }, { "value" => "opt2", "label" => "Option 2", "checked" => true }] }
= render partial: "@citizensadvice/design-system/haml/radio_group", locals: { radio: radio }
