.cads-breadcrumbs-wrapper
  = render partial: "@citizensadvice/design-system/haml/breadcrumb", locals: { "breadcrumbs" => { "type" => "no-collapse", "breadcrumb_links" => [{ "url" => "/benefits/", "title" => "Benefits" },{ "url" => "/benefits/", "title" => "Accessing UK benefits and services if you’re subject to immigration control" }, { "url" => "/benefits/benefits-introduction/", "title" => "Benefits - introduction"}, { "url" => "/benefits/benefits-introduction/what-benefits-can-i-get/", "title" => "Benefit calculators: what benefits can you get" }] } }
