- radio = { "name" => "example-radio-group", "label" => "Example radio group", "options" => [{ "value" => "opt1", "label" => "Option 1" }, { "value" => "opt2", "label" => "Option 2" }] }
= render partial: "@citizensadvice/design-system/haml/radio_group_small", locals: { radio: radio }
