// ============================================================================
// Assets
// ============================================================================

/** @define asset-type; weak */
.cads-asset-type {
  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }

  .cads-icon--file {
    // Optically align
    vertical-align: baseline;
    position: relative;
    top: 2px;
  }
}
