// ============================================================================
// Badges
// ============================================================================

/** @define badge */
.cads-badge {
  @include cads-typographic-scale-text-small();

  line-height: 0.875rem;
  font-weight: $cads-font-weight__bold;
  display: inline-block;
  margin-bottom: $cads-spacing-2;
  color: $cads-language__secondary-text-colour;
}

///
// Modifier: Adviser
///
.cads-badge--adviser {
  background: $cads-language__brand-adviser;
  color: $cads-palette__white;
  padding: $cads-spacing-2;
}
