// ============================================================================
// Badges
// ============================================================================

/** @define badge */
.cads-badge {
  @include cads-typographic-scale-text-small();

  line-height: 0.875rem;
  font-weight: $cads-font-weight__bold;
  display: inline-block;
  margin-bottom: $cads-spacing-3;
  color: $cads-language__text__colour--secondary;
}

///
// Modifier: Adviser
///
.cads-badge--adviser {
  background: $cads-language__brand--adviser;
  color: $cads-palette__white;
  padding: cads-rem(2px) $cads-spacing-2;

  @include cads-media-breakpoint-up(md) {
    padding: $cads-spacing-2;
  }
}

@media print {
  .cads-badge {
    background: transparent !important;
    color: $cads-language__text__colour;
    padding: 0;
  }
}
