%breadcrumb-arrow-right {
  color: $cads-language__input-border-colour;
  content: '\203A';
  margin-left: $cads-spacing-2;
  margin-right: $cads-spacing-2;
  font-size: 18px; // Fix size as this is a symbol
  display: inline-block;
}

.cads-breadcrumbs {
  @include cads-restrict-content-width();

  padding: $cads-spacing-3 0 $cads-spacing-3 $cads-spacing-4;
  border-bottom: $cads-border-width-small solid $cads-language__border_colour;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__crumb {
    @extend %cads-list-item;

    display: inline-block;
    margin: 0;
    max-width: 55ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $cads-font-size;

    &::after {
      @extend %breadcrumb-arrow-right;
    }

    &:last-of-type {
      margin-left: 0;

      &::after {
        display: none;
      }
    }
  }

  @include cads-media-breakpoint-only(sm) {
    &__crumb {
      display: none;
    }

    &__crumb:nth-last-child(2) {
      display: block;

      &::before {
        content: '\2039';
        margin-left: 0;
        margin-right: $cads-spacing-1;
        color: $cads-language__input-border-colour;
      }

      &::after {
        display: none;
      }
    }
  }
}

.cads-breadcrumbs--no-collapse.cads-breadcrumbs {
  .cads-breadcrumbs__crumb {
    display: inline-block;
  }

  .cads-breadcrumbs__crumb:nth-last-child(2) {
    display: inline-block;

    &::after {
      @extend %breadcrumb-arrow-right;
    }

    &::before {
      display: none;
    }
  }
}
