@use 'sass:math';
@use 'sass:map';

// ============================================================================
// Breadcrumbs
// ============================================================================

$cads-breadcrumb-icon-size: 8px;

@mixin cads-breadcrumb-arrow($direction: 'right') {
  content: '';
  display: block;
  position: absolute;
  margin: auto 0;
  bottom: 0;
  top: math.round($cads-breadcrumb-icon-size / 2);
  left: -#{math.round($cads-breadcrumb-icon-size / 2)};
  width: $cads-breadcrumb-icon-size - ($cads-border-width-small * 2);
  height: $cads-breadcrumb-icon-size - ($cads-border-width-small * 2);
  border-style: solid;
  border-color: $cads-language__input-border-colour;
  border-width: $cads-border-width-small $cads-border-width-small 0 0;

  @if $direction == 'left' {
    transform: rotate(45deg);
  } @else {
    transform: rotate(-135deg);
  }
}

/** @define breadcrumbs */
.cads-breadcrumbs {
  @include cads-restrict-content-width;

  padding: $cads-spacing-3 0 $cads-spacing-3 $cads-spacing-4;
  border-bottom: $cads-border-width-small solid $cads-language__border_colour;
  margin-bottom: $cads-spacing-5;

  &__list {
    // account for left margin of breadcrumb
    margin: 0 0 0 (-$cads-spacing-3);
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__crumb {
    position: relative;
    list-style: none;
    font-size: $cads-font-size;
    line-height: 1.75rem;
    margin: 0 0 0 $cads-spacing-3;
    padding: 0 0 0 $cads-spacing-3;

    &:first-child {
      padding-left: 0;
    }

    + .cads-breadcrumbs__crumb::before {
      @include cads-breadcrumb-arrow('left');
    }
  }
}

///
// Variant: Collapse
///
.cads-breadcrumbs--collapse {
  @include cads-media-breakpoint-only(sm) {
    .cads-breadcrumbs__crumb {
      display: none;
    }

    // show only the second to last item in list - i.e. link to parent page.
    .cads-breadcrumbs__crumb:nth-last-child(2) {
      display: flex;
      padding-left: calc(#{$cads-spacing-4} - $cads-breadcrumb-icon-size);
      margin-left: $cads-spacing-5;

      &::before {
        @include cads-breadcrumb-arrow('right');
      }
    }
  }
}

/** @define breadcrumbs-wrapper; weak */
.cads-breadcrumbs-wrapper {
  margin-bottom: $cads-spacing-5;
  border-bottom: $cads-border-width-small solid $cads-language__border_colour;

  .cads-breadcrumbs {
    margin: 0 auto;
    padding: $cads-spacing-3 0;
    border-bottom: none;

    @each $breakpoint in map.keys($cads-breakpoints) {
      $gutter: map.get($cads-grid-breakpoint-gutters, $breakpoint);

      @include cads-media-breakpoint-up($breakpoint) {
        padding-left: $gutter;
        padding-right: $gutter;
      }
    }
  }
}

/* stylelint-disable plugin/selector-bem-pattern */
@media print {
  .cads-breadcrumbs-wrapper {
    display: none;
  }
}
