.cads-callout {
  border: solid 0 $cads-language__border-colour;
  border-radius: $cads-border-radius;
  position: relative;
  border-width: 0 0 0 $cads-border-width-large;
  padding: $cads-spacing-4;
  margin: 0 0 $cads-spacing-5 0;

  .cads-callout__adviser-label {
    display: none;
  }

  h2 {
    @extend .cads-heading-medium;
  }

  @include cads-media-breakpoint-up(md) {
    padding: $cads-spacing-4;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  &,
  &.cads-callout-standard {
    border-color: $cads-language__brand-secondary;
    background-color: cads-colour-to-bg($cads-language__brand-secondary);
  }

  &.cads-callout-example {
    border: solid $cads-border-width-small $cads-language__border-colour;
    border-radius: $cads-border-radius;
    border-left-color: $cads-palette__mid-grey;
    border-left-width: $cads-border-width-large;
    background-color: $cads-palette__white;

    h2:first-of-type,
    h3:first-of-type {
      &::before {
        margin-bottom: $cads-spacing-3;
        color: $cads-language__secondary-text-colour;
        font-size: 0.875rem;
        line-height: 0.875rem;
        display: block;

        @include cads-media-breakpoint-up(md) {
          font-size: 1rem;
        }

        content: 'Example';
      }

      .cads-lang-cy &::before {
        content: 'Example';
      }
    }
  }

  &.cads-callout-important {
    border-color: $cads-language__error-colour;
    background-color: cads-colour-to-bg($cads-language__error-colour);

    h2:first-of-type,
    h3:first-of-type {
      /* stylelint-disable-next-line */
      &::before {
        margin-bottom: $cads-spacing-3;
        color: $cads-language__secondary-text-colour;
        font-size: 0.875rem;
        line-height: 0.875rem;
        display: block;

        @include cads-media-breakpoint-up(md) {
          font-size: 1rem;
        }

        content: 'Important';
      }

      .cads-lang-cy &::before {
        content: 'Important';
      }
    }
  }

  &.cads-callout-adviser {
    border-color: $cads-language__brand-adviser;
    background-color: cads-colour-to-bg($cads-language__brand-adviser);

    .cads-callout__adviser-label {
      display: block;
      /* stylelint-disable-next-line */
      &::before {
        margin-bottom: $cads-spacing-3;
        background: $cads-language__brand-adviser;
        color: $cads-palette__white;
        padding: $cads-spacing-2;
        font-size: 0.875rem;
        font-weight: $cads-font-weight__bold;
        line-height: 0.875rem;
        display: inline-block;

        @include cads-media-breakpoint-up(md) {
          font-size: 1rem;
        }

        content: 'Adviser';
      }

      .cads-lang-cy &::before {
        content: 'Adviser';
      }
    }
  }

  & & {
    // For when adviser callouts are inside callouts
    margin-top: $cads-spacing-4;
  }
}
