.cads-callout {
    @include cads-border(a, $cads-border-width-medium);

    border-left-width: $cads-border-width-large;

    .cads-callout-label {
        display: block;
        font-size: 0.5em;
    }

    &.cads-callout- {
        &info {
            .cads-callout-label {
                display: none;
            }
        }

        &quote {
            background-color: $cads-language__border-colour;

            .cads-callout-label {
                display: none;
            }
        }

        &important {
            background-color: $cads-language__error-colour;

            .cads-callout-label::after {
                content: 'Important';
            }
        }
    }
}
