.cads-callout {
    @include cads-border(l);

    position: relative;
    border-left-width: $cads-border-width-large;
    padding: $cads-spacing-4;
    margin: 0 0 $cads-spacing-5 0;

    @include cads-media-breakpoint-up(md) {
        padding: $cads-spacing-4;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    .cads-callout-label {
        display: none;
        position: relative;
        color: $cads-language__secondary-text-colour;
        margin-bottom: $cads-spacing-3;
        font-size: 0.875rem;
        line-height: 1em;

        @include cads-media-breakpoint-up(md) {
            font-size: 1rem;
        }
    }

    &.cads-callout- {
        &example {
            @include cads-border(
                a,
                $cads-border-width-small,
                0,
                $cads-language__border-colour
            );

            border-left-color: $cads-palette__mid-grey;
            border-left-width: $cads-border-width-large;

            .cads-callout-label {
                display: block;

                &::after {
                    content: 'Example';
                }

                .cads-lang-gd &::after {
                    content: 'Eisimpleir';
                }

                .cads-lang-cy &::after {
                    content: 'Enghraifft';
                }
            }
        }

        &info {
            border-color: $cads-language__brand-secondary;
            background-color: cads-colour-to-bg(
                $cads-language__brand-secondary
            );
        }

        &important {
            border-color: $cads-language__error-colour;
            background-color: cads-colour-to-bg($cads-language__error-colour);

            .cads-callout-label {
                display: block;

                /* stylelint-disable-next-line */
                &::after {
                    content: 'Important';
                }

                .cads-lang-gd &::after {
                    content: 'Cudromach';
                }

                .cads-lang-cy &::after {
                    content: 'Bwysig';
                }
            }
        }
    }
}
