// ============================================================================
// Callouts
// ============================================================================

/** @define callout; weak **/
.cads-callout {
  @extend %cads-prose;

  position: relative;
  border-radius: $cads-border-radius;
  border: solid 0 $cads-language__brand--secondary;
  border-left-width: $cads-border-width-large;
  background-color: cads-colour-to-bg($cads-language__brand--secondary);
  padding: $cads-spacing-4;
  margin: 0 0 $cads-spacing-5 0;

  > :last-child {
    margin-bottom: 0;
  }

  h2,
  h3 {
    @extend %cads-h3;
  }

  & & {
    // For when callouts are inside callouts
    margin: $cads-spacing-4 0;
    // Nested callouts sit flush right
    margin-right: -$cads-spacing-4;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cads-callout--example {
  border: solid $cads-border-width-small $cads-language__border-colour;
  border-radius: $cads-border-radius;
  border-left-color: $cads-palette__mid-grey;
  border-left-width: $cads-border-width-large;
  background-color: $cads-palette__white;
}

.cads-callout--important {
  border-color: $cads-language__important__colour;
  background-color: cads-colour-to-bg($cads-language__important__colour);
}

.cads-callout--adviser {
  border-color: $cads-language__brand--adviser;
  background-color: cads-colour-to-bg($cads-language__brand--adviser);
}

/* stylelint-disable  plugin/selector-bem-pattern */
.cads-prose .cads-callout__title {
  h2:first-of-type,
  h3:first-of-type {
    @extend %cads-h3;
  }
}

@media print {
  .cads-callout {
    background: transparent !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
  }

  .cads-callout--adviser {
    display: none;
  }
}
