// ============================================================================
// Disclosure
// ============================================================================

/** @define disclosure; weak **/
.cads-disclosure__details {
  display: none;
  margin-top: $cads-spacing-4;
}

.cads-disclosure__summary {
  text-decoration: underline;
}

.cads-disclosure__toggle {
  text-decoration: none;

  @include cads-media-breakpoint-up(md) {
    font-size: cads-rem(18px);
  }

  .cads-icon {
    // Optically align icon
    // Using vertical-align here results in
    // an icon that is visually aligned too low
    position: relative;
    top: 2px;
  }

  &:focus .cads-disclosure__summary {
    text-decoration: none;
  }
}

// Open state
.cads-disclosure[data-disclosure-state='open'] {
  .cads-disclosure__details {
    display: block;
  }
}

.cads-disclosure + .cads-disclosure {
  margin-top: $cads-spacing-4;
}

/* stylelint-disable plugin/selector-bem-pattern, no-descending-specificity */
.no-js {
  .cads-disclosure__toggle,
  .cads-disclosure__summary {
    display: none;
  }

  .cads-disclosure__details {
    display: block;
  }
}
