.cads-error-summary {
  border: solid $cads-border-width-medium $cads-language__border-colour;
  border-radius: $cads-border-radius;
  padding: $cads-spacing-4;
  color: $cads-language__warning-colour;
  margin-bottom: $cads-spacing-4;

  &:focus {
    outline: 2px solid $cads-language__focus-colour;
    border-color: $cads-language__error-colour;
  }

  &__title {
    @extend %cads-h3;

    color: $cads-language__text-colour;
    margin-bottom: $cads-spacing-4;
  }

  .cads-error-summary__list {
    @extend %cads-list-no-bullet;

    margin-bottom: 0;

    li {
      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        color: $cads-language__warning-colour;
        font-weight: $cads-font-weight__bold;
        text-decoration: underline;

        &:focus {
          color: $cads-language__text-colour;
          text-decoration: none;
          outline: none;
        }
      }
    }
  }
}
