.cads-error-summary {
  border: solid $cads-border-width-medium $cads-color-border;
  border-radius: $cads-border-radius;
  padding: $cads-spacing-4;
  color: $cads-color-error;
  margin-bottom: $cads-spacing-4;

  &:focus {
    outline: 2px solid $cads-color-brand-focus;
    border-color: $cads-color-error;
  }

  &__title {
    @extend %cads-h4;

    color: $cads-color-error;
    margin-bottom: $cads-spacing-4;
  }

  .cads-error-summary__list {
    @extend %cads-list-no-bullet;

    margin-bottom: 0;

    li {
      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        color: $cads-color-error;
        text-decoration: underline;

        &:focus {
          color: $cads-color-text;
          text-decoration: none;
          outline: none;
        }
      }
    }
  }
}
