// ============================================================================
// Footer
// ============================================================================

/** @define footer */
.cads-footer {
  @include cads-typographic-scale-text-small();

  background-color: $cads-palette__blue-light;
  padding: $cads-spacing-4;

  .cads-footer__section-title {
    @extend %cads-h4;

    margin: 0 0 $cads-spacing-2 0;
  }

  .cads-footer__links {
    @extend %cads-list-no-bullet;
  }

  .cads-footer__links .cads-footer__link {
    // @TODO: cads-list-no-bullet contains font-sizes, should it inherit?
    @include cads-typographic-scale-text-small();
  }

  .cads-footer__company-info {
    @include cads-restrict-content-width();

    padding-top: $cads-spacing-5;
    border-top: 1px solid $cads-language__border-colour;

    @include cads-media-breakpoint-up(md) {
      display: flex;
      flex-direction: row;

      .cads-footer__logo {
        flex: none;
      }
    }

    .cads-footer__meta {
      margin: 0;
      padding: 0;
    }

    .cads-footer__meta-text {
      margin: 0 0 $cads-spacing-3 0;
    }
  }
}
