footer,
.cads-footer {
    background-color: $cads-palette__blue-light;
    padding: $cads-spacing-4;

    h2 {
        @extend .cads-heading-small;

        margin: 0 0 $cads-spacing-4 0;
    }

    ul {
        @extend .cads-list__no-bullet;
    }

    li {
        font-size: 1rem;
    }

    .cads-footer__company-info {
        @include cads-restrict-content-width();

        padding-top: $cads-spacing-5;
        border-top: 1px solid $cads-language__border-colour;
        display: flex;
        flex-direction: row;

        .cads-logo {
            flex: none;
        }

        p {
            margin: 0;
            padding: 0;
        }
    }
}
