// ============================================================================
// Footer
// ============================================================================

/** @define footer */
.cads-footer {
  @include cads-typographic-scale-text-small();

  background-color: $cads-footer__background-colour;
  padding: $cads-spacing-4 0;

  .cads-footer__section-title {
    @extend %cads-h4;

    color: $cads-footer__text__colour;
    margin: 0 0 $cads-spacing-2 0;
  }
  .cads-footer__feedback {
    @include cads-typographic-scale-text-small();

    width: 100%;
    text-align: center;
    color: $cads-footer__text__colour--secondary;
    border-bottom: 1px solid $cads-footer__divider__colour;
    padding-bottom: $cads-spacing-4;
    margin: 0 0 $cads-spacing-4 0;

    @media print {
      display: none;
    }

    .cads-footer__feedback-icon {
      font-size: 0.7rem;
      margin-left: 0.5ch;
    }
  }

  .cads-footer__links {
    @extend %cads-list-no-bullet;
  }

  .cads-footer__icon {
    color: $cads-footer__link__colour;
    font-size: 12px;
  }

  .cads-footer__hyperlink {
    color: $cads-footer__link__colour;

    &:visited {
      color: $cads-footer__link__colour--visited;
    }

    &:hover {
      color: $cads-footer__link__colour--hover;
      background-color: $cads-footer__background-colour--hover;
    }

    &:active {
      color: $cads-footer__link__colour--active;
    }

    &:focus {
      color: $cads-language__text__colour;
      background-color: $cads-language__brand--focus;
      border-bottom: 2px solid $cads-language__text__colour;
    }
  }

  .cads-footer__links .cads-footer__link {
    // @TODO: cads-list-no-bullet contains font-sizes, should it inherit?
    @include cads-typographic-scale-text-small();
  }

  .cads-footer__company-info {
    @include cads-restrict-content-width();

    color: $cads-footer__text__colour;
    padding-top: $cads-spacing-5;
    border-top: 1px solid $cads-language__border-colour;

    @include cads-media-breakpoint-up(md) {
      display: flex;
      flex-direction: row;

      .cads-footer__logo {
        flex: none;
      }
    }

    .cads-footer__meta {
      margin: 0;
      padding: 0;
    }

    .cads-footer__meta-text {
      margin: 0 0 $cads-spacing-3 0;
    }
  }

  @media print {
    display: none;
  }
}
