@use 'sass:math';
// ============================================================================
// Forms
// ============================================================================

// ============================================================================
// Forms: Form field
// ============================================================================

/** @define form-field */
.cads-form-field {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: $cads-spacing-6;

  @include cads-media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}
.cads-form-field__content {
  width: 100%;
}
.cads-form-field__label {
  @extend %cads-h4;

  display: block;
  margin-bottom: $cads-spacing-3;
}
.cads-form-field__optional {
  color: $cads-language__secondary-text-colour;
  font-weight: normal;

  &::before {
    content: ' (';
  }

  &::after {
    content: ')';
  }
}
.cads-form-field__hint {
  display: block;
  margin: 0 0 $cads-spacing-3 0;
  color: $cads-language__secondary-text-colour;
}
.cads-form-field__label + .cads-form-field__hint {
  // Reduces visual spacing between label + hint when there is a hint
  margin-top: -$cads-spacing-2;
}
.cads-form-field__error-marker {
  display: none;
}
.cads-form-field__error-message {
  display: none;
  color: $cads-language__warning-colour;
  margin: 0 0 $cads-spacing-3 0;
}

//
// Modifier: has-error
//
.cads-form-field--has-error {
  .cads-form-field__error-message {
    display: block;
  }

  .cads-form-field__error-marker {
    display: block;
    position: relative;
    padding: 0;
    width: 0;
    border: $cads-border-width-small solid $cads-language__warning-colour;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -5px;
      left: -11px;
      width: 22px;
      height: 29px;
      background-color: $cads-palette__white;
      background-image: url("data:image/svg+xml, %3Csvg width='16' height='16' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8125 6C11.8125 9.21087 9.20993 11.8125 6 11.8125C2.79007 11.8125 0.1875 9.21087 0.1875 6C0.1875 2.79101 2.79007 0.1875 6 0.1875C9.20993 0.1875 11.8125 2.79101 11.8125 6ZM6 7.17188C5.40457 7.17188 4.92188 7.65457 4.92188 8.25C4.92188 8.84543 5.40457 9.32812 6 9.32812C6.59543 9.32812 7.07812 8.84543 7.07812 8.25C7.07812 7.65457 6.59543 7.17188 6 7.17188ZM4.97641 3.29658L5.15027 6.48408C5.15841 6.63323 5.28173 6.75 5.4311 6.75H6.5689C6.71827 6.75 6.84159 6.63323 6.84973 6.48408L7.02359 3.29658C7.03238 3.13547 6.9041 3 6.74276 3H5.25722C5.09587 3 4.96762 3.13547 4.97641 3.29658Z' fill='%23df3034'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .cads-form-field__content {
    padding-left: $cads-spacing-5 !important;
  }
}

// ============================================================================
// Forms: Text inputs
// ============================================================================

/** @define input */
.cads-input {
  @include cads-interactive-element();

  color: inherit;
  width: 100%;
  // prevent elements with size attributes overflowing on mobile
  max-width: 100%;
  height: $cads-interactive-target-size;
  padding: $cads-spacing-2;
  appearance: none;
}

// Character width modifiers
// Based on https://github.com/alphagov/govuk-frontend/blob/master/src/govuk/components/input/_index.scss#L62-L92
// The ex measurements are based on the number of W's that can fit inside the input
// Extra space is left on the right hand side to allow for the Safari prefill icon

@function cads-character-width($desired-characters) {
  // Linear regression estimation based on visual tests: y = 1.76 + 1.81x
  // e.g. 2 characters desired = 1.76 + (2 * 1.81)
  @return #{1.76 + ($desired-characters * 1.81)}ex;
}

//
// Modifier: ~2 characters wide
//
.cads-input--two-chars,
.cads-input--2ch {
  max-width: cads-character-width(2);
}

//
// Modifier: ~4 characters wide
//
.cads-input--four-chars,
.cads-input--4ch {
  max-width: cads-character-width(4);
}

//
// Modifier: ~8 characters wide
//
.cads-input--eight-chars,
.cads-input--8ch {
  max-width: cads-character-width(8);
}

//
// Modifier: ~16 characters wide
//
.cads-input--sixteen-chars,
.cads-input--16ch {
  max-width: cads-character-width(16);
}

/** @define textarea */
.cads-textarea {
  @include cads-interactive-element();

  color: inherit;
  display: block;
  width: 100%;
  min-height: 40px;
  padding: $cads-spacing-2;
  border-radius: 0;
  -webkit-appearance: none;
  // Limit resizing to vertical
  resize: vertical;
}

// ============================================================================
// Forms: Radio groups
// ============================================================================
// Based on https://github.com/alphagov/govuk-frontend/blob/master/src/govuk/components/radios/_index.scss

$cads-radios-size: 40px;
$cads-small-radios-size: 24px;

/** @define radio-group */
.cads-radio-group {
  border: none;
  padding: 0;
  margin: 0;
}
.cads-radio-group__item {
  display: block;
  position: relative;
  min-height: $cads-radios-size;
  margin-bottom: $cads-spacing-4;
  padding-left: $cads-radios-size;
  clear: left;

  &:last-child,
  &:last-of-type {
    margin-bottom: 0;
  }
}
.cads-radio-group__input {
  $input-offset: math.div(
    ($cads-interactive-target-size - $cads-radios-size),
    2
  );

  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: $input-offset * -1;
  left: $input-offset * -1;
  width: $cads-interactive-target-size;
  height: $cads-interactive-target-size;
  margin: 0;
  opacity: 0;
}
.cads-radio-group__label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  // optically align radio labels with controls
  padding: cads-rem(7px) $cads-spacing-4 $cads-spacing-2;
  cursor: pointer;
  // remove 300ms pause on mobile
  touch-action: manipulation;

  // ( ) Radio ring
  &::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: $cads-radios-size;
    height: $cads-radios-size;
    border: $cads-border-width-medium solid $cads-language__input-border-colour;
    border-radius: 50%;
    background: transparent;
  }

  //  •  Radio button
  //
  // We create the 'button' entirely out of 'border' so that they remain
  // 'filled' even when colours are overridden in the browser.
  &::after {
    content: '';
    position: absolute;
    top: $cads-spacing-2;
    left: $cads-spacing-2;
    width: 0;
    height: 0;
    border: $cads-spacing-3 solid currentColor;
    border-radius: 50%;
    opacity: 0;
    background: currentColor;
  }
}

//
// Modifier: inline
//
.cads-radio-group--inline {
  .cads-radio-group__item {
    display: inline-block;
    margin-right: $cads-spacing-5;
    margin-bottom: 0;
  }
}

//
// Modifier: small
//
.cads-radio-group--small {
  $input-offset: math.div(
    ($cads-interactive-target-size - $cads-small-radios-size),
    2
  );
  $label-offset: $cads-interactive-target-size - $input-offset;

  .cads-radio-group__item {
    margin-bottom: 0;
  }

  // Shift the touch target into the left margin so that the visible edge of
  // the control is aligned
  //
  //   ┆Which colour is your favourite?
  //  ┌┆───┐
  //  │┆() │ Purple
  //  └┆▲──┘
  //  ▲┆└─ Radio pseudo element, aligned with margin
  //  └─── Touch target (invisible input), shifted into the margin
  .cads-radio-group__input {
    margin-left: math.div($cads-small-radios-size, 3) * -1;
  }

  .cads-radio-group__label {
    // optically align radio labels with controls
    padding-left: 0;
    padding-top: cads-rem(8px);
  }

  // ( ) Radio ring
  //
  // Reduce the size of the control [1],
  // vertically centering it within the touch target [2]
  .cads-radio-group__label::before {
    top: $input-offset - $cads-border-width-medium; // 2
    width: $cads-small-radios-size; // 1
    height: $cads-small-radios-size; // 1
  }

  //  •  Radio button
  //
  // Reduce the size of the 'button' and center it within the ring
  .cads-radio-group__label::after {
    top: 14px;
    left: 6px;
    border-width: 6px;
  }
}

// Selected state
.cads-radio-group__input:checked + .cads-radio-group__label::before {
  border-color: $cads-language__input-border-colour;
}

.cads-radio-group__input:checked + .cads-radio-group__label::after {
  color: $cads-language__input-border-colour;
  opacity: 1;
}

// Focussed state
.cads-radio-group__input:focus + .cads-radio-group__label::before {
  border-color: $cads-language__focus-border-colour;
  // We need to use box-shadow instead of outline as outline does not have a radius
  box-shadow: 0 0 0 $cads-border-width-medium $cads-language__focus-colour;
}

.cads-radio-group__input:focus + .cads-radio-group__label::after {
  color: currentColor;
}
