header,
.cads-header {
    background-color: $cads-palette__white;
    padding: $cads-spacing-4;

    .cads-search {
        margin-top: 1em;
    }

    .cads-search-reveal {
        display: none;
    }

    @include cads-media-breakpoint-only(sm) {
        padding: $cads-spacing-0;

        .cads-header-logo-row {
            display: flex;
            justify-content: space-between;
        }

        .cads-search-reveal {
            display: inline-block;
            width: $cads-interactive-target-size;
        }

        .cads-header-account-panel {
            display: none;
        }

        .cads-search {
            margin-top: 0;
        }

        .cads-header-search-row {
            margin-top: 1rem;
            display: none;
        }

        &.cads-header-show-search {
            display: block;
        }
    }
}
