// ============================================================================
// Header
// ============================================================================

/** @define header */
.cads-header {
  background-color: $cads-header__background-colour;
  padding: $cads-spacing-4 0;

  &__hyperlink {
    display: inline-block;
    margin-bottom: cads-rem-to-px($cads-spacing-2) - $cads-border-width-medium;
    color: $cads-header__link-colour;
    border-bottom: $cads-border-width-medium solid transparent;

    &:hover {
      color: $cads-header__link-hover-colour;
      background-color: $cads-header__hover-background-colour;
    }

    &:active {
      color: $cads-header__link-active-colour;
    }

    &:focus {
      color: $cads-palette__black;
      background-color: $cads-header__link-focus-colour;
      border-bottom: 2px solid $cads-header__link-focus-highlight-colour;
    }

    &:visited {
      color: $cads-header__link-visited-colour;
    }
  }

  &__text {
    color: $cads-language__secondary-text-colour;
    font-weight: $cads-font-weight__bold;
  }

  &__search-reveal {
    @include cads-button-defaults();

    display: none;
    margin: 0;
    padding: 11px 12px 11px 12px;
    color: $cads-language__primary-button-colour;
    background: transparent;
    border: solid $cads-border-width-medium
      $cads-language__primary-button-colour;

    &:hover,
    &:active {
      color: $cads-language__primary-button-hover-colour;
      background-color: $cads-language__secondary-button-hover-colour;
    }

    &:focus {
      outline: none;
      color: $cads-language__focus-text-colour;
      border-color: $cads-language__focus-border-colour;
      background-color: $cads-language__focus-colour;
    }
  }

  &__links {
    @extend %cads-list-unordered-inline;

    margin-bottom: $cads-spacing-4;
    text-align: right;

    .cads-header__links-item {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-right: 0;
      margin-left: $cads-spacing-4;
    }

    .cads-header__account-link {
      border-left: solid 1px $cads-header__link-colour;
      padding-left: $cads-spacing-4;
    }

    .cads-header__links-item--button {
      @include cads-media-breakpoint-up(md) {
        margin-right: 0;
      }
    }

    @media print {
      display: none;
    }
  }

  &__sign-out {
    margin-bottom: cads-rem(14px);
    background-color: $cads-header__sign-out-background-colour;
    color: $cads-header__sign-out-colour;
    border-color: $cads-header__sign-out-border-colour;

    @include cads-media-breakpoint-up(md) {
      margin-bottom: 0;
      font-size: $cads-font-size;
      line-height: 1.5;
      padding: cads-rem(6px) $cads-spacing-3;
    }
  }

  @include cads-media-breakpoint-only(sm) {
    .cads-header__logo-row {
      display: flex;
      justify-content: space-between;
    }

    .cads-header__search-reveal {
      display: inline-block;
      width: $cads-interactive-target-size;
    }

    .cads-header__links {
      display: none;
    }

    .cads-header__search-row {
      margin-top: $cads-spacing-4;
      display: none;
    }
  }

  .cads-header__search-form {
    margin-left: auto;

    @include cads-media-breakpoint-only(md) {
      width: 70%;
    }

    @include cads-media-breakpoint-only(lg) {
      width: 55%;
    }
  }
}

// Modifier: Show search
.cads-header--show-search {
  .cads-header__search-row {
    display: block;
  }
}

/* stylelint-disable no-descending-specificity */
.no-js {
  .cads-header__search-reveal {
    @include cads-media-breakpoint-only(sm) {
      display: none;
    }
  }

  .cads-header__search-row {
    @include cads-media-breakpoint-only(sm) {
      display: block;
    }
  }
  .cads-header__links {
    @include cads-media-breakpoint-only(sm) {
      display: block;
      margin-top: $cads-spacing-2;
    }
  }

  .cads-header__links-item {
    @include cads-media-breakpoint-only(sm) {
      margin-bottom: $cads-spacing-4;
    }
  }
}

@media print {
  .cads-header {
    &__search-row,
    &__search-reveal {
      display: none !important;
    }
  }
}
