// ============================================================================
// Footer
// ============================================================================

/** @define header */
.cads-header {
  background-color: $cads-palette__white;
  padding: $cads-spacing-4 0;

  .cads-header__search-reveal {
    @include cads-button-defaults();

    display: none;
    margin: 0;
    padding: 11px 12px 11px 12px;
    color: $cads-language__primary-button-colour;
    background: transparent;
    border: solid $cads-border-width-medium
      $cads-language__primary-button-colour;

    &:hover {
      color: $cads-language__primary-button-hover-colour;
      background-color: $cads-language__secondary-button-hover-colour;
    }

    &:focus,
    &:active {
      color: $cads-language__focus-text-colour;
    }
  }

  .cads-header__links {
    @extend %cads-list-unordered-inline;

    text-align: right;

    .cads-header__account-link,
    .cads-header__links-item {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: $cads-spacing-2;
      margin-right: 0;
      margin-left: $cads-spacing-4;
    }

    .cads-header__account-link:first-child {
      border-left: solid 1px #fff;
    }

    @media print {
      display: none;
    }
  }

  @include cads-media-breakpoint-only(sm) {
    .cads-header__logo-row {
      display: flex;
      justify-content: space-between;
    }

    .cads-header__search-reveal {
      display: inline-block;
      width: $cads-interactive-target-size;
    }

    .cads-header__account-links {
      display: none;
    }

    .cads-header__search-row {
      margin-top: $cads-spacing-4;
      display: none;
    }
  }
}

///
// Modifier: Show search
//
.cads-header--show-search {
  .cads-header__search-row {
    display: block;
  }
}
