// stylelint-disable selector-class-pattern
// ============================================================================
// SVG Icons
// Temporarily scoped to `svg` until the existing cads-icon font is deprecated.
// ============================================================================

svg {
  &.cads-icon {
    fill: currentcolor;
  }

  &.cads-icon--small {
    height: 16px;
  }

  &.cads-icon--large {
    height: 24px;
  }
}

.cads-icon--arrow-up-down {
  .up {
    display: none;
  }

  &.show-up {
    .up {
      display: block;
    }

    .down {
      display: none;
    }
  }
}

.cads-icon--plus-minus {
  .minus {
    display: none;
  }

  &.show-minus {
    .minus {
      display: block;
    }

    .plus {
      display: none;
    }
  }
}
