// ============================================================================
// SVG Icons
// Temporarily scoped to `svg` until the existing cads-icon font is deprecated.
// ============================================================================

svg {
  &.cads-icon {
    fill: $cads-language__default-icon-fill;
  }

  &.cads-icon--small {
    height: 16px;
    width: 16px;
  }

  &.cads-icon--large {
    height: 24px;
    width: 24px;
  }
}
