@import 'navigation_greedy-nav';

/** @define navigation */
.cads-navigation {
  display: flex;
  justify-content: space-between;
  background-color: $cads-language__brand--primary;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  position: relative;
  font-size: 0;

  .cads-navigation-toggle-label {
    @include cads-visually-hidden;
  }

  &__list {
    display: inline-block;
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  &__list-item {
    display: inline-block;
    font-weight: $cads-font-weight__bold;
    margin-bottom: 0;
  }

  &__link {
    @include cads-nav-link;
  }
}

/* stylelint-disable  plugin/selector-bem-pattern */
.cads-navigation-full-width-wrapper {
  background-color: $cads-language__brand--primary;

  .cads-navigation {
    @include cads-restrict-content-width();

    @each $breakpoint in map-keys($cads-breakpoints) {
      $gutter: map-get($cads-nav-breakpoint-gutters, $breakpoint);

      @include cads-media-breakpoint-up($breakpoint) {
        padding-left: $gutter;
      }
    }
  }
}

.cads-greedy-nav__header-links {
  .cads-header__links {
    width: 100%;
    margin-bottom: 0;
    padding: 0;

    &::before {
      display: block;
      content: '';
      border-top: $cads-border-width-small solid $cads-palette__white;
      position: relative;
      // take focus border into account
      left: cads-rem-to-px($cads-spacing-4) + $cads-border-width-medium;
      width: calc(
        100% - #{2 * $cads-spacing-4} - #{2 * $cads-border-width-medium}
      );
    }
  }

  .cads-header__links-item {
    display: block;
    font-weight: $cads-font-weight__bold;
  }

  .cads-header__hyperlink {
    @include cads-nav-link;

    display: block;
    padding: $cads-spacing-3 $cads-spacing-4;
  }
}

.cads-greedy-nav__dropdown .cads-greedy-nav__header-links {
  @include cads-media-breakpoint-up(md) {
    display: none;
  }
}

.cads-greedy-nav__dropdown .cads-header__sign-out {
  @extend %cads-button__tertiary--dark;
}

.no-js {
  .cads-navigation {
    height: auto;

    &__list {
      margin-bottom: 0;
    }

    &__list-item {
      margin-bottom: 0;
    }
  }
}

@media print {
  .cads-navigation {
    display: none;
  }
}
