@import 'navigation_greedy-nav';

nav,
.cads-navigation {
  display: flex;
  justify-content: space-between;
  background-color: $cads-palette__heritage-blue;
  width: 100%;
  height: 3rem;

  .cads-navigation-toggle-label {
    @include cads-visually-hidden;
  }

  ul {
    display: inline-block;

    @extend .cads-list__no-bullet;
  }

  li,
  .cads-list-item {
    font-size: 1rem;
    display: inline-block;
    font-weight: $cads-font-weight__bold;
  }

  .cads-greedy-nav__dropdown-toggle {
    @include cads-button-defaults();

    height: 100%;
    font-weight: bold;
    font-size: 1rem;
    color: $cads-palette__white;
    background-color: $cads-palette__heritage-blue;
    border: $cads-palette__heritage-blue;
    box-shadow: none;

    &:hover {
      background-color: $cads-language__link-hover-colour;
      border-color: $cads-language__link-hover-colour;
    }

    /* stylelint-disable */
    &:focus,
    &:active {
      /* stylelint-enable */
      background-color: $cads-palette__white;
      color: $cads-palette__heritage-blue;
      border: 2px solid $cads-palette__heritage-yellow;
      padding: calc(1rem - 2px);
    }

    &::after {
      /* Copied from the icon font setup */
      /* stylelint-disable-next-line */
      font-family: 'cads' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\0044';
      display: inline-block;
      transform: rotate(270deg);
      font-size: 0.75rem;
      margin-left: $cads-spacing-1;
      top: 1px;
      position: relative;
    }

    &.is-open {
      &::after {
        transform: rotate(90deg);
      }
    }

    &.cads-greedy-nav-is-hidden {
      padding: 0;

      &::after {
        display: none;
      }
    }
  }

  .cads-nav-link {
    color: $cads-palette__white;
    padding: calc(1rem - 2px) calc(1rem - 12px);
    display: inline-block;
    text-decoration: none;

    @include cads-transition-animation();

    border: 2px solid;
    border-color: $cads-palette__heritage-blue;
    line-height: 1em;

    &:hover {
      background-color: $cads-language__link-hover-colour;
      border-color: $cads-language__link-hover-colour;
      color: $cads-palette__white;
    }

    /* stylelint-disable */
    &:active,
    &:focus {
      /* stylelint-enable */
      background-color: $cads-palette__white;
      color: $cads-palette__heritage-blue;
      border: 2px solid $cads-palette__heritage-yellow;
      padding: calc(1rem - 2px) calc(1rem - 12px);
      outline: none;
    }
  }

  .cads-greedy-nav__dropdown {
    background-color: $cads-palette__heritage-blue;
    border-top: 1px solid $cads-palette__white;
    right: 0;
    top: 100%;

    li {
      margin-bottom: 0;
      display: block;
    }

    a {
      display: block;
      transition-property: none;
    }
  }
}

.cads-navigation-full-width-wrapper {
  background-color: $cads-palette__heritage-blue;

  nav {
    @extend .cads-max-content-width;

    @each $breakpoint in map-keys($cads-breakpoints) {
      $gutter: map-get($cads-nav-breakpoint-gutters, $breakpoint);

      @include cads-media-breakpoint-up($breakpoint) {
        padding-right: $gutter;
        padding-left: $gutter;
      }
    }
  }
}
