@use 'sass:map';

// ============================================================================
// Navigation
// ============================================================================
// stylelint-disable selector-class-pattern, plugin/selector-bem-pattern

/** @define navigation */
.cads-navigation {
  display: flex;
  justify-content: space-between;
  background-color: $cads-language__nav-background-colour;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  position: relative;
  font-size: 0;

  .cads-navigation-toggle-label {
    @include cads-visually-hidden;
  }

  &__list {
    display: inline-block;
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  &__list-item {
    display: inline-block;
    font-weight: $cads-font-weight__bold;
    margin-bottom: 0;
  }

  &__link {
    @include cads-nav-link;
  }
}

/* stylelint-disable  plugin/selector-bem-pattern */
.cads-navigation-full-width-wrapper {
  background-color: $cads-language__nav-background-colour;

  .cads-navigation {
    @include cads-restrict-content-width;

    @each $breakpoint in map-keys($cads-breakpoints) {
      $gutter: map.get($cads-nav-breakpoint-gutters, $breakpoint);

      @include cads-media-breakpoint-up($breakpoint) {
        padding-left: $gutter;
      }
    }
  }
}

.no-js {
  .cads-navigation {
    height: auto;

    &__list {
      margin-bottom: 0;
    }

    &__list-item {
      margin-bottom: 0;
    }
  }
}

@media print {
  .cads-navigation {
    display: none;
  }
}

// ============================================================================
// Greedy navigation behaviour
// ============================================================================

.cads-greedy-nav {
  white-space: nowrap; // prevent flash of unstyled content

  &__dropdown {
    z-index: 1000;
    position: absolute;
    visibility: hidden;
    background-color: $cads-language__nav-background-colour;
    border-top: $cads-border-width-small solid $cads-palette__white;
    right: 0;
    width: 100vw;
    top: 100%;
    padding: 0;
    margin: 0;

    @include cads-media-breakpoint-up(md) {
      width: auto;
      padding: 0;
    }

    li {
      margin-bottom: 0;
      display: block;
      padding: 0;
    }

    span,
    a {
      @include cads-nav-link;

      display: block;
      transition-property: none;
      padding: $cads-spacing-3 $cads-spacing-4;

      @include cads-media-breakpoint-up(md) {
        padding: (cads-rem-to-px($cads-spacing-4) - $cads-border-width-medium)
          $cads-spacing-4;
      }
    }

    span {
      font-weight: normal;
    }

    &.show {
      visibility: visible;
    }

    .cads-header__links-item,
    .cads-header__account-link {
      padding-left: 0;
      margin-left: 0;
      border-left: none; // only on .cads-header__account-link
    }

    .cads-linkbutton__regular {
      @include cads-nav-link;

      font-weight: bold;
      text-align: left;
      display: block;
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;

      &:focus {
        @include cads-nav-link-focus;
      }
    }

    .cads-header__sign-out {
      margin-left: $cads-spacing-4;
    }
  }

  &__dropdown-toggle {
    @include cads-nav-link;

    height: 100%;
    font-weight: bold;
    background-color: $cads-language__nav-background-colour;
    border-left: $cads-border-width-small solid $cads-language__border-colour;

    @include cads-media-breakpoint-up(md) {
      padding: 0 $cads-spacing-2;
    }

    &::after {
      @include cads-icon;

      content: '\0044';
      display: inline-block;
      transform: rotate(270deg);
      font-size: 0.75rem;
      margin-left: $cads-spacing-1;
      top: 1px;
      position: relative;
    }

    &:hover {
      cursor: pointer;
    }

    &.is-open {
      &::after {
        transform: rotate(90deg);
      }
    }

    &.cads-greedy-nav-is-hidden {
      padding: 0;

      &::after {
        display: none;
      }
    }
  }

  &__wrapper {
    position: relative;
    visibility: hidden;

    @include cads-media-breakpoint-up(sm) {
      position: absolute;
      right: 0;
      height: 100%;
    }
  }

  &-is-visible {
    visibility: visible;
  }

  &-is-hidden {
    visibility: hidden;
  }

  &__header-links,
  &__header-links li:first-child {
    margin-top: $cads-spacing-2;
  }

  .cads-header__links {
    text-align: left;
  }
}

.cads-greedy-nav__header-links {
  .cads-header__links {
    width: 100%;
    margin-bottom: 0;
    padding: 0;

    &::before {
      display: block;
      content: '';
      border-top: $cads-border-width-small solid $cads-palette__white;
      position: relative;

      // take focus border into account
      left: cads-rem-to-px($cads-spacing-4) + $cads-border-width-medium;
      width: calc(
        100% - #{2 * $cads-spacing-4} - #{2 * $cads-border-width-medium}
      );
    }
  }

  .cads-header__links-item {
    display: block;
    font-weight: $cads-font-weight__bold;
  }

  .cads-header__hyperlink {
    @include cads-nav-link;

    display: block;
    padding: $cads-spacing-3 $cads-spacing-4;
  }
}

.cads-greedy-nav__dropdown .cads-greedy-nav__header-links {
  @include cads-media-breakpoint-up(md) {
    display: none;
  }
}

.cads-greedy-nav__dropdown .cads-header__sign-out {
  @extend %cads-button__tertiary--dark;
}
