/*
 * Core styles for Cads GreedyNav
 * These styles are not optional and should always be included
 *
 * Modified from PriorityNav.js
 *
 * Free to use under the MIT License.
 * http://twitter.com/GijsRoge
 */

.cads-greedy-nav {
  white-space: nowrap; // prevent flash of unstyled content

  &__label {
    display: none;
  }

  &__dropdown {
    z-index: 1000;
    position: absolute;
    visibility: hidden;
    background-color: $cads-language__brand-primary;
    border-top: 1px solid $cads-palette__white;
    right: 0;
    width: 100vw;
    top: 100%;
    padding: $cads-spacing-2 0;
    margin: 0;

    @include cads-media-breakpoint-up(md) {
      width: auto;
      padding: 0;
    }

    li {
      margin-bottom: 0;
      display: block;
      padding: 0;
    }

    a {
      @include cads-nav-link;

      display: block;
      transition-property: none;
      padding: (cads-rem-to-px($cads-spacing-4) - $cads-border-width-medium)
        $cads-spacing-4;
    }

    &.show {
      visibility: visible;
    }
  }

  &__dropdown-toggle {
    @include cads-nav-link;

    height: 100%;
    font-weight: bold;
    background-color: $cads-language__brand-primary;
    border-left: $cads-border-width-small solid $cads-language__border-colour;
    padding: 0 $cads-spacing-2;

    &::after {
      @extend %cads-icon;

      content: '\0044';
      display: inline-block;
      transform: rotate(270deg);
      font-size: 0.75rem;
      margin-left: $cads-spacing-1;
      top: 1px;
      position: relative;
    }

    &.is-open {
      &::after {
        transform: rotate(90deg);
      }
    }

    &.cads-greedy-nav-is-hidden {
      padding: 0;

      &::after {
        display: none;
      }
    }
  }

  &__wrapper {
    position: relative;
    visibility: hidden;

    @include cads-media-breakpoint-up(md) {
      position: absolute;
      right: 0;
      height: 100%;
    }
  }

  &-is-visible {
    visibility: visible;
  }

  &-is-hidden {
    visibility: hidden;
  }

  &-has-dropdown {
    .cads-greedy-nav {
      &__dropdown {
        &-toggle {
          position: relative;
        }
      }
    }
  }

  &__header-links,
  &__header-links li:first-child {
    margin-top: $cads-spacing-2;
  }
}
