/* =========================================================================
   The Office of the Immigration Services Commissioner (OISC)  Warnings
   ========================================================================= */

.oisc-warning {
  background-color: $cads-palette__light-grey;
  border: 1px solid $cads-palette__dark-grey;
  margin-bottom: $cads-spacing-3;

  .oisc-warning__title {
    padding: $cads-spacing-3;
  }

  .oisc-warning__body {
    padding: 0 $cads-spacing-3;
  }

  .oisc-warning__close {
    display: none; // Hide by default
    border: none;
    background: transparent;
    width: 48px;
    height: 48px;
    color: $cads-language__secondary-text-colour;

    &:hover,
    &:focus,
    &:active {
      color: $cads-language__text-colour;
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  /**
   * Conditional sticky behaviour
   * is-stuck is added via IntersectionObserver with a polyfill for older browsers
   */
  &.is-sticky.is-stuck {
    /* stylelint-disable declaration-block-no-duplicate-properties */
    position: fixed; // Default to position: fixed for older browsers
    max-width: inherit; // Makes fixed positioning inherit parent width
    position: sticky; // Switch to position sticky where supported
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .oisc-warning__header {
      display: flex;
      align-items: center;
    }

    .oisc-warning__title {
      flex: 1;
    }

    .oisc-warning__close {
      // Show close button when stuck to allow warning to be dismissed.
      display: inline-block;
    }
  }
}
