// ============================================================================
// On this page
// ============================================================================

/** @define on-this-page; weak */
.cads-on-this-page {
  background-color: cads-colour-to-bg($cads-palette__blue-adviser);
  padding: $cads-spacing-4;
  margin: 0 0 $cads-spacing-5;

  .cads-on-this-page__title {
    @extend %cads-h4;

    margin: 0 0 $cads-spacing-4;
    color: $cads-language__secondary-text-colour;
  }

  .cads-on-this-page__list {
    @extend %cads-list-no-bullet;

    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

///
// Variant: columns
// Set when there are least three items
///
.cads-on-this-page--columns {
  .cads-on-this-page__list {
    @include cads-media-breakpoint-up(md) {
      columns: 2;
    }
  }

  .cads-on-this-page__list-item {
    @include cads-media-breakpoint-up(md) {
      // Avoid breaks within css column items
      // https://css-tricks.com/almanac/properties/b/break-inside/
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;

      // the two column layout extends the inline bottom border of a focused link
      // into the next column.
      // We can compensate for this by adding some additional padding to this containing
      // element and then compensating for that by subtracting from the bottom border.
      padding-bottom: 5px;
      margin-bottom: calc(#{$cads-spacing-2} - 5px);
    }
  }
}

///
// Variant: expandable
// Used on AdviserNet pages to allow nested headings to be expanded
///
.cads-on-this-page--expandable {
  .cads-on-this-page__list {
    padding-left: cads-rem(18px);

    @include cads-media-breakpoint-up(md) {
      padding-left: $cads-spacing-5;
    }
  }

  .cads-on-this-page__list-item {
    position: relative;
  }

  .cads-on-this-page__list-item:last-of-type {
    margin-bottom: 0;
  }

  .cads-on-this-page__link {
    border-bottom: $cads-border-width-medium solid transparent;

    &:focus {
      border-color: $cads-language__focus-border-colour;
    }
  }

  .cads-on-this-page__list--nested {
    display: none;
    padding-top: $cads-spacing-2;
    padding-left: $cads-spacing-4;

    .cads-on-this-page__list-item:last-child {
      margin-bottom: 0;
    }
  }

  .cads-on-this-page__toggle {
    text-decoration: none;
    display: inline-flex;
    padding: $cads-spacing-1;
    position: absolute;
    top: 2px;
    left: -25px;

    @include cads-media-breakpoint-up(md) {
      top: 4px;
      left: -30px;
    }

    .cads-icon {
      height: 13px;
    }

    &:focus {
      background-color: $cads-language__focus-colour;
      border-color: $cads-language__focus-border-colour;
      border-width: $cads-border-width-medium;
      color: $cads-language__focus-text-colour;
    }

    &:hover {
      cursor: pointer;
    }
  }

  // Open state
  .cads-on-this-page__list-item[data-on-this-page-state="open"] {
    .cads-on-this-page__list--nested {
      display: block;
    }
  }
}

///
// No-JS fallback styles
// When javascript is disabled reset the expandable styles
// so that the component behaves like the default on this page variant
///
/* stylelint-disable plugin/selector-bem-pattern, no-descending-specificity */
.no-js {
  .cads-on-this-page--expandable {
    .cads-on-this-page__toggle {
      display: none;
    }

    .cads-on-this-page__list {
      padding-left: 0;
    }

    &.cads-on-this-page--columns .cads-on-this-page__list {
      @include cads-media-breakpoint-up(md) {
        columns: 2;
      }
    }
  }
}

@media print {
  .cads-on-this-page {
    display: none;
  }
}
