// ============================================================================
// Pagination
// ============================================================================

@mixin cads-paging-focus() {
  outline: none;
  color: $cads-language__focus-text-colour;
  border-color: $cads-language__focus-border-colour;
  background-color: $cads-language__focus-colour;
}

/** @define paging */
.cads-paging {
  @include cads-reset-list-style;

  display: flex;
  flex-wrap: wrap;
}

.cads-paging__item {
  margin-right: $cads-spacing-4;
}

.cads-paging__button {
  @include cads-button-defaults;

  color: $cads-language__link-colour;
  border: solid $cads-border-width-small $cads-language__border-colour;
  border-radius: $cads-border-radius;
  font-weight: $cads-font-weight__regular;
  background-color: transparent;
  min-width: $cads-interactive-target-size;
  margin-bottom: $cads-spacing-2;

  &:focus {
    @include cads-paging-focus;
  }

  &:hover,
  &:active {
    color: $cads-language__link-hover-colour;
    border-color: $cads-language__link-hover-colour;
    background-color: $cads-language__hover-background-colour;
  }

  .cads-paging__current & {
    font-weight: $cads-font-weight__bold;
    color: $cads-palette__white;
    background-color: $cads-language__primary-button-colour;
    border-color: $cads-language__primary-button-colour;

    &:focus {
      @include cads-paging-focus;
    }

    &:hover {
      border-color: $cads-language__primary-button-hover-colour;
      background-color: $cads-language__primary-button-hover-colour;
    }
  }
}

/** @define paging-info */
.cads-paging-info {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: $cads-font-weight__regular;
  margin: 0 0 $cads-spacing-4;
  color: $cads-language__secondary-text-colour;
}
