// ============================================================================
// Pagination
// ============================================================================

@mixin cads-paging-focus() {
  outline: none;
  color: $cads-color-text;
  border-color: $cads-color-border-focus;
  background-color: $cads-color-brand-focus;
}

/** @define paging */
.cads-paging {
  @include cads-reset-list-style;

  display: flex;
  flex-wrap: wrap;
}

.cads-paging__item {
  margin-right: $cads-spacing-4;
}

.cads-paging__button {
  @include cads-button-defaults;

  color: $cads-color-link;
  border: solid $cads-border-width-small $cads-color-border;
  border-radius: $cads-border-radius;
  font-weight: $cads-font-weight__regular;
  background-color: transparent;
  min-width: $cads-interactive-target-size;
  margin-bottom: $cads-spacing-2;

  &:focus {
    @include cads-paging-focus;
  }

  &:hover,
  &:active {
    color: $cads-color-link-hover;
    border-color: $cads-color-link-hover;
    background-color: $cads-color-background-hover;
  }

  .cads-paging__current & {
    font-weight: $cads-font-weight__bold;
    color: $cads-palette__white;
    background-color: $cads-color-button-primary;
    border-color: $cads-color-button-primary;

    &:focus {
      @include cads-paging-focus;
    }

    &:hover {
      border-color: $cads-color-button-primary-hover;
      background-color: $cads-color-button-primary-hover;
    }
  }
}

/** @define paging-info */
.cads-paging-info {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: $cads-font-weight__regular;
  margin: 0 0 $cads-spacing-4 0;
  color: $cads-color-text-secondary;
}
