.cads-paging-info {
  font-size: 1rem;
  font-weight: $cads-font-weight__regular;
  margin-bottom: $cads-spacing-4;
  color: $cads-language__secondary-text-colour;
}

.cads-paging__button {
  @include cads-button-defaults();

  color: $cads-language__link-colour;
  border: solid $cads-border-width-medium $cads-language__border-colour;
  font-weight: $cads-font-weight__regular;
  background-color: transparent;
  min-width: $cads-interactive-target-size;
  margin-bottom: 0;

  &:focus {
    outline: none;
    color: $cads-language__focus-text-colour;
    border-color: $cads-language__focus-border-colour;
    background-color: $cads-language__focus-colour;
  }

  &:hover,
  &:active {
    color: $cads-language__link-hover-colour;
    border-color: $cads-language__link-hover-colour;
    background-color: $cads-language__hover-background-colour;
  }

  .cads-paging__current & {
    font-weight: $cads-font-weight__bold;
    background-color: $cads-language__link-colour;
    border-color: $cads-language__link-colour;
    color: $cads-palette__white;

    &:hover {
      background-color: $cads-language__link-colour;
      border-color: $cads-language__link-colour;
      color: $cads-palette__white;
    }
  }
}
