.cads-paging-info {
  font-size: 1rem;
  font-weight: $cads-font-weight__regular;
  margin-bottom: $cads-spacing-4;
  color: $cads-language__secondary-text-colour;
}

.cads-paging {
  button {
    color: $cads-language__link-colour;
    border-color: $cads-language__border-colour;
    box-shadow: none;
    font-weight: $cads-font-weight__regular;
    background-color: transparent;
    min-width: $cads-interactive-target-size;
    margin-bottom: 0;

    &:hover {
      color: $cads-language__link-hover-colour;
      border-color: $cads-language__link-hover-colour;
      background-color: $cads-language__hover-background-colour;
    }
  }

  .cads-paging__current {
    button {
      font-weight: $cads-font-weight__bold;
      background-color: $cads-language__link-colour;
      border-color: $cads-language__link-colour;
      color: $cads-palette__white;

      &:hover {
        background-color: $cads-language__link-colour;
        border-color: $cads-language__link-colour;
        color: $cads-palette__white;
      }
    }
  }
}
