.cads-related-content {
  padding-left: $cads-spacing-4;

  @include cads-media-breakpoint-only(sm) {
    padding-left: 0;
  }

  .section-title {
    @extend %cads-paragraph-small;

    color: $cads-language__secondary-text-colour;
    margin-top: $cads-spacing-5;
    margin-bottom: $cads-spacing-4;
  }

  h3 {
    @extend %cads-h3;

    margin-top: 0;
    margin-bottom: $cads-spacing-4;
  }

  ul {
    @extend %cads-list-no-bullet;

    li {
      margin-bottom: $cads-spacing-4;
    }
  }
}
