.cads-search {
    position: relative;
    white-space: nowrap;
    width: 100%;
    display: flex;
    flex-direction: row;

    input {
        font-size: 1em;
        flex: 1 1;
        border-right-width: 0; // TODO: Do we want to do this? Hover looks a bit funny next to input box
        height: calc(4px + 3em);
        margin-bottom: 0;
    }

    button {
        font-size: 1em;
        flex: 0 0;
        padding: calc(1em - 1px) 1em;
        height: calc(4px + 3em);

        &::after {
            content: 'Search';
        }

        .cads-lang-gd &::after {
            content: 'Rannsaich';
        }

        .cads-lang-cy &::after {
            content: 'Chwilio';
        }
    }

    @include cads-media-breakpoint-only(sm) {
        button {
            width: $cads-interactive-target-size;
            height: $cads-interactive-target-size;
            padding: 11px;

            &::after {
                width: 18px;
                height: 18px;
                content: '';
                display: inline-block;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 124.72 124.72'%3E%3Cpath d='M117.59,103.45l-22-23a48.72,48.72,0,0,0-7-60A48.58,48.58,0,0,0,5.67,54.82,48.57,48.57,0,0,0,81.22,95.29L103,118.08a5,5,0,0,0,7.1,0l7.51-7.52A5,5,0,0,0,117.59,103.45Zm-63.35-21a27.66,27.66,0,1,1,19.56-8.1A27.48,27.48,0,0,1,54.24,82.49Z'/%3E%3C/svg%3E%0A");
            }
        }

        input {
            height: $cads-interactive-target-size;
        }
    }
}
