.cads-search {
    position: relative;
    white-space: nowrap;
    width: 100%;
    display: flex;
    flex-direction: row;

    input {
        @include cads-interactive-element();

        flex: 1 1;

        &::placeholder {
            color: $cads-language__border-colour;
        }
    }

    button {
        flex: 0 0;
        border-left-width: 0; // TODO: Do we want to do this? Hover looks a bit funny next to input box

        &::after {
            content: 'Search';
        }

        .cads-lang-gd &::after {
            content: 'Rannsaich';
        }

        .cads-lang-cy &::after {
            content: 'Chwilio';
        }

        @include cads-media-breakpoint-only(sm) {
            &::after {
                content: '';
            }
        }
    }
}
