/** @define section-links */
.cads-section-links {
  padding-left: $cads-spacing-4;

  @include cads-media-breakpoint-only(sm) {
    padding-left: 0;
  }

  &__title {
    color: $cads-language__text-colour--secondary;
  }

  &__section-title {
    @extend %cads-h3;

    color: $cads-language__text-colour--secondary;
    margin-top: 0;
    margin-bottom: $cads-spacing-4;
  }

  &__links {
    @extend %cads-list-no-bullet;

    margin-bottom: 0;

    .cads-section-links__item {
      margin-bottom: $cads-spacing-4;
    }
  }
}

@media print {
  .cads-section-links {
    display: none;
  }
}
