/** @define section-links */
.cads-section-links {
  padding-left: $cads-spacing-4;

  @include cads-media-breakpoint-only(sm) {
    padding-left: 0;
  }

  &__title {
    font-size: 1rem;
    line-height: 1.15rem;
    font-weight: $cads-font-weight__regular;
    color: $cads-language__secondary-text-colour;
    margin: $cads-spacing-4 0;
  }

  &__links {
    @include cads-reset-list-style;

    margin-bottom: 0;
  }

  &__item {
    @extend %cads-list-item;

    margin-bottom: $cads-spacing-4;
  }

  &__section-title {
    @extend %cads-h3;

    color: $cads-language__secondary-text-colour;
    margin-top: 0;
    margin-bottom: $cads-spacing-4;
  }
}

@media print {
  .cads-section-links {
    display: none;
  }
}
