/** define skip-links */
.cads-skip-links {
  width: 100%;

  &__link {
    @include cads-visually-hidden;

    &:focus {
      clip: auto; // stylelint-disable-line property-no-deprecated
      height: auto;
      margin: 0;
      overflow: visible;
      width: auto;
      z-index: 1;
    }
  }
}
