/** @define success-message */
.cads-success-message {
  @extend %cads-paragraph-small;

  display: block;
  padding: $cads-spacing-4;
  margin: 0 0 $cads-spacing-5;
  background-color: rgba($cads-language__success-colour, 0.1);
  border-left: solid $cads-border-width-large $cads-language__success-colour;
}
