// ============================================================================
// Summary list
// ============================================================================

/* @define summary-list; weak */
.cads-summary-list {
  margin: 0 0 $cads-spacing-6;
}

.cads-summary-list__group {
  border-bottom: 1px solid $cads-language__input-border-colour;
  padding: $cads-spacing-2 0;

  @include cads-media-breakpoint-up(md) {
    display: flex;
  }
}

.cads-summary-list__name,
.cads-summary-list__value {
  @include cads-typographic-scale-text-small;

  margin: 0;

  @include cads-media-breakpoint-up(md) {
    margin-left: $cads-spacing-4;
  }
}

.cads-summary-list__name {
  font-weight: $cads-font-weight__bold;
  margin-bottom: $cads-spacing-2;

  @include cads-media-breakpoint-up(md) {
    flex: 1;
    margin-bottom: 0;
  }
}

.cads-summary-list__value {
  @include cads-media-breakpoint-up(md) {
    flex: 1;
  }

  @include cads-media-breakpoint-up(lg) {
    flex: 2;
  }
}
