.cads-summary-list__group {
  border-bottom: 1px solid $cads-language__input-border-colour;
  margin-bottom: $cads-spacing-2;

  @include cads-media-breakpoint-up(md) {
    display: flex;
    padding: 0 $cads-spacing-4;
  }
}

.cads-summary-list__name {
  @extend %cads-paragraph-small;

  font-weight: bold;
  margin: 0 $cads-spacing-4 $cads-spacing-2 0;

  @include cads-media-breakpoint-up(md) {
    flex: 1;
  }
}

.cads-summary-list__value {
  @extend %cads-paragraph-small;

  margin: $cads-spacing-2 $cads-spacing-4 $cads-spacing-2 0;

  @include cads-media-breakpoint-up(md) {
    flex: 1;
    margin: 0 0 $cads-spacing-2 $cads-spacing-1;
  }

  @include cads-media-breakpoint-up(lg) {
    flex: 2;
  }
}
