// ============================================================================
// Targeted Content
// ============================================================================

/** @define targeted-content */
.cads-targeted-content {
  display: block;
  box-sizing: border-box;
  margin-bottom: $cads-spacing-5;

  .cads-targeted-content__title {
    @extend %cads-h4;

    display: block;
    color: $cads-language__link-colour;
    border: $cads-border-width-small solid $cads-language__link-colour;
    padding: $cads-spacing-3 $cads-spacing-4;
    margin: 0;
    box-shadow: none;
    box-sizing: border-box;
  }

  // These are spans because they get wrapped by
  // a <button> element, but need to display as blocks.
  .cads-targeted-content__title-text,
  .cads-targeted-content__badge {
    display: block;
  }

  .cads-targeted-content__content {
    border: $cads-border-width-small solid $cads-language__link-colour;
    border-top: none;
    padding: $cads-spacing-3 $cads-spacing-4;
  }
}

///
// Modifier: Adviser
///
.cads-targeted-content--adviser {
  background-color: cads-colour-to-bg($cads-language__brand-adviser);
}

///
// Modifier: Toggleabe
// Behaviour added when JavaScript is enabled
///
.cads-targeted-content--toggleable {
  .cads-targeted-content__title {
    // Unset padding and border as we need
    // to re-set them on the new button element
    padding: 0;
    border: none;
  }

  .cads-targeted-content__button {
    cursor: pointer;
    color: inherit;
    background: transparent;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: $cads-spacing-3 $cads-spacing-4;
    text-align: left;
    border: $cads-border-width-small solid $cads-language__link-colour;

    &:hover {
      background-color: $cads-language__hover-background-colour;
    }

    &:focus {
      @include cads-interactive-focus();
    }
  }

  .cads-targeted-content__icon {
    height: 1em;
    margin-left: 0.5em;
    fill: currentColor;
    flex: 0 0 1em;
  }

  .cads-targeted-content__content {
    display: none;
  }
}

///
// Modifier: Toggleable (Open)
// Behaviour added when JavaScript is enabled
///
.cads-targeted-content--open {
  .cads-targeted-content__icon-vert {
    display: none;
  }

  .cads-targeted-content__content {
    display: block;
  }
}

/* stylelint-disable plugin/selector-bem-pattern */
@media print {
  .cads-targeted-content--toggleable .cads-targeted-content {
    &__button svg {
      display: none;
    }

    &__content {
      display: block;
      hr,
      button {
        display: none;
      }
    }
  }
}
