.cads-website-feedback {
  @include cads-typographic-scale-text-small();

  width: 100%;
  text-align: center;
  color: $cads-language__brand-primary;
  border-bottom: 1px solid $cads-language__brand-primary;
  padding-bottom: $cads-spacing-4;
  margin: 0 0 $cads-spacing-4 0;

  .cads-icon_external-link {
    font-size: 0.7rem;
    margin-left: 0.5ch;
  }
}
