version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'

  - package-ecosystem: bundler
    directory: '/'
    schedule:
      interval: weekly
      timezone: Europe/London
    labels:
      - 'ruby dependencies'
    open-pull-requests-limit: 10
    target-branch: 'master'

  - package-ecosystem: bundler
    directory: '/demo'
    schedule:
      interval: monthly
      timezone: Europe/London
    labels:
      - 'ruby dependencies'
    open-pull-requests-limit: 10
    target-branch: 'master'

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
      timezone: Europe/London
    open-pull-requests-limit: 10
    labels:
      - 'npm dependencies'
    target-branch: 'master'
    ignore:
      # Requires webpack v5 but storybook bundles v4
      - dependency-name: 'sass-loader'
        versions: ['11.x']

  - package-ecosystem: npm
    directory: '/testing'
    schedule:
      interval: weekly
      timezone: Europe/London
    open-pull-requests-limit: 10
    labels:
      - 'npm dependencies'
    target-branch: 'master'
