version: 2
updates:
  ##
  # GitHub actions
  ##
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
    cooldown:
      default-days: 7

  ##
  # Top-level package
  ##
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    groups:
      # Group everything except major version updates and security vulnerabilities
      regular-updates:
        update-types:
          - "minor"
          - "patch"

  ##
  # Rails engine
  ##
  - package-ecosystem: bundler
    directory: "/engine"
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    groups:
      # Group everything except major version updates and security vulnerabilities
      regular-updates:
        update-types:
          - "minor"
          - "patch"

  ##
  # Demo app
  ##
  - package-ecosystem: bundler
    directory: "/demo"
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    groups:
      # Group everything except major version updates and security vulnerabilities
      regular-updates:
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: npm
    directory: "/demo"
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    groups:
      # Group everything except major version updates and security vulnerabilities
      regular-updates:
        update-types:
          - "minor"
          - "patch"
        exclude-patterns:
          # Rails minor versions are more like major versions
          # so should be handled separately
          - "rails"

  ##
  # Documentation website
  ##
  - package-ecosystem: bundler
    directory: "/website"
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    groups:
      # Group everything except major version updates and security vulnerabilities
      regular-updates:
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: npm
    directory: "/website"
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    groups:
      # Group everything except major version updates and security vulnerabilities
      regular-updates:
        update-types:
          - "minor"
          - "patch"
