.cads-grid-container
  .cads-grid-row
    .cads-grid-col-8
      %table.cads-table
        %thead
          %tr
            %th{ scope: "col" }
              Component class
            %th{ scope: "col" }
              Toggle
            %th{ scope: "col" }
              Icon
        %tbody
          %tr
            %td
              ArrowUpDown
            %td
              %button.cads-button{ type: "button" }
                Toggle arrow
            %td
              = render CitizensAdviceComponents::Icons::ArrowUpDown.new(size: :large)

%script
  :plain
    var button = document.querySelector('button');
    button.addEventListener('click', function() {
      var icon = document.querySelector('.cads-icon');
      icon.classList.toggle('show-up')
    })
