.git*
.DS_Store
.bundle/config
docker/Dockerfile*
public/assets
log/*.log
tmp/cache/*
tmp/pids/*
tmp/sockets/*
tmp/jest/*
coverage
spec/reports
node_modules
vendor/bundle
AUTOMATED_BROWSER_SUPPORT.md
