node_modules
.cache
.idea
.history
.DS_Store
local.log
*.iml
.env
npm-debug.log
.vscode
*.tgz
yarn-error.log
.npmrc
*.gem
/dist
testing/backstop_data/bitmaps_test
testing/backstop_data/html_report
vendor
