node_modules
.bundle/config
.cache
.idea
.history
.DS_Store
local.log
*.iml
.env
npm-debug.log
.vscode
*.tgz
yarn-error.log
.npmrc
*.gem
demo/visual-regression/backstop_data/bitmaps_test
demo/visual-regression/backstop_data/html_report
demo/visual-regression/backstop_data/ci_report
vendor/**/*
*.code-workspace
