.storybook/vendor/
assets/
CHANGELOG.md
docs/
lib/
stats/
testing/artifacts/
testing/visual-regression/backstop_data/
testing/wcag/
testing/cucumber.yml
vendor/

# Ignore locale files from prettier
# formatted by i18n-tasks
/locales/

# Ignore Rails engine dist files
/demo/public/
/demo/tests/
/demo/tmp/
