= render CitizensAdviceComponents::SectionLinks.new(title: "Related Content", section_title: "Applying to the EU settlement scheme", section_title_url: "/immigration#h-applying-to-the-eu-settlement-scheme") do |c|
  - c.section_links(section_links)
  .example-links-block= link_to "Adviser resources - EU Settlement Scheme", "/advisernet/immigration/staying-in-the-uk/settled-status/adviser-resources-eu-settlement-scheme"

:css
    .example-links-block{
      background-color: #e6eff2;
      padding: 1rem;
      margin: 1rem 0;
      box-sizing: border-box;
    }
