= render CitizensAdviceComponents::SectionLinks.new(title: "Related Content") do |c|
  - c.section_title(section_title)
  - c.section_links(section_links)
  .example-links-block= link_to "Adviser resources - EU Settlement Scheme", "/advisernet/immigration/staying-in-the-uk/settled-status/adviser-resources-eu-settlement-scheme"

:css
    .example-links-block{
      background-color: #e6eff2;
      padding: 1rem;
      margin: 1rem 0;
      box-sizing: border-box;
    }
