<nav role="navigation" aria-label="Pagination navigation">
  <ul class="cads-paging">
    <li>
      <a
        href="?page=1"
        class="cads-paging__button"
        aria-label="Go to first page"
        >First</a
      >
    </li>
    <li>
      <a
        href="?page=3"
        class="cads-paging__button"
        aria-label="Go to previous page"
        >Previous</a
      >
    </li>
    <li>
      <a href="?page=3" class="cads-paging__button" aria-label="Go to page 3"
        >3</a
      >
    </li>
    <li>
      <a href="?page=1" class="cads-paging__button" aria-label="Go to page 4"
        >4</a
      >
    </li>
    <li class="cads-paging__current">
      <a
        href="?page=5"
        class="cads-paging__button"
        aria-label="Current page, page 5"
        aria-current="page"
      >
        5
      </a>
    </li>
    <li>
      <a href="?page=6" class="cads-paging__button" aria-label="Go to page 6"
        >6</a
      >
    </li>
    <li>
      <a href="?page=7" class="cads-paging__button" aria-label="Go to page 7"
        >7</a
      >
    </li>
    <li>
      <a href="?page=5" class="cads-paging__button" aria-label="Go to next page"
        >Next</a
      >
    </li>
    <li>
      <a href="?page=7" class="cads-paging__button" aria-label="Go to last page"
        >Last</a
      >
    </li>
  </ul>
</nav>
