<ul class="cads-paging">
  <li>
    <button class="cads-paging__button" type="button">First</button>
  </li>
  <li>
    <button class="cads-paging__button" type="button">Previous</button>
  </li>
  <li>
    <button class="cads-paging__button" type="button">3</button>
  </li>
  <li>
    <button class="cads-paging__button" type="button">4</button>
  </li>
  <li class="cads-paging__current">
    <button class="cads-paging__button" type="button">5</button>
  </li>
  <li>
    <button class="cads-paging__button" type="button">6</button>
  </li>
  <li>
    <button class="cads-paging__button" type="button">7</button>
  </li>
  <li>
    <button class="cads-paging__button" type="button">Next</button>
  </li>
  <li>
    <button class="cads-paging__button" type="button">Last</button>
  </li>
</ul>
