// These styles are for use in the storybook styleguide
@import '../scss/lib';

.html {
  font-family: monospace;
  font-size: 1rem;
  background: $cads-palette__light-grey;
  padding: 0.5rem;

  code {
    margin: 0;
    padding: 0;
  }

  &.inline {
    display: inline-block;
    padding: 0;
  }
}

.cads-styleguide-icon-list {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    border: 1px solid $cads-language__border-colour;
    border-radius: $cads-border-radius;
    padding: 1em;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    text-align: center;
    width: 200px;

    span {
      display: block;
    }

    span:first-child {
      font-size: 2em;
      margin-bottom: 0.5em;
    }
  }
}

.cads-styleguide__colour-tile {
  display: inline-grid;
  margin: 1em;
  width: 150px;

  .cads-styleguide__colour-tile-bg {
    height: 48px;
    width: 48px;
    border-radius: 100%;
    border: solid 1px #000;
  }

  p {
    font-size: 0.75em;
    line-height: 1.25em;
    padding: 8px 0 0 0;
  }
}

@each $size, $length in $cads-spacers {
  .cads-styleguide-spacing-block-#{$size} {
    display: inline-block;
    vertical-align: middle;
    background: rgba($cads-language__border-colour, 0.4);
    border: dotted 1px $cads-language__border-colour;
    width: $length;
    height: $length;
  }
}

.cads-styleguide-sizing-border-small,
.cads-styleguide-sizing-border-medium,
.cads-styleguide-sizing-border-large {
  display: inline-block;
  width: 100px;
  height: 40px;
  vertical-align: middle;
  border: solid $cads-border-width-small $cads-language__border-colour;
  margin-left: 11px;
  margin-right: 11px;
}

.cads-styleguide-sizing-border-medium {
  border: solid $cads-border-width-medium $cads-language__border-colour;
  margin-left: 10px;
}

.cads-styleguide-sizing-border-large {
  border: solid $cads-border-width-large $cads-language__border-colour;
  margin-left: 10px;
}

.cads-styleguide-grid {
  border: solid $cads-border-width-small $cads-language__border-colour;

  .cads-grid-row {
    > div {
      border: solid $cads-border-width-small $cads-language__border-colour;
      background: rgba($cads-language__border-colour, 0.2);
      text-align: center;

      span {
        padding-top: $cads-spacing-2;
        padding-bottom: $cads-spacing-2;
        display: block;
        background: rgba($cads-language__border-colour, 0.4);
      }
    }
  }
}

.cads-styleguide-grid-example {
  padding: $cads-spacing-4;
  background-color: $cads-palette__light-grey;
}

.typography-examples {
  .cads-paragraph-small {
    @extend %cads-paragraph-small;
  }
}
