// These styles are for use in the storybook styleguide
@import '../scss/lib';

.cads-styleguide-icon-list {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    border: 1px solid $cads-color-border;
    border-radius: $cads-border-radius;
    padding: 1em;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    text-align: center;
    width: 200px;

    span {
      display: block;
    }

    span:first-child {
      font-size: 2em;
      margin-bottom: 0.5em;
    }
  }
}

.cads-styleguide-colour-swatch {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px !important;
  position: relative;
  top: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

$cads-spacers: (
  (
    0: 0,
    1: $cads-spacing-1,
    2: $cads-spacing-2,
    3: $cads-spacing-3,
    4: $cads-spacing-4,
    5: $cads-spacing-5,
    6: $cads-spacing-6,
    7: $cads-spacing-7,
  )
);

@each $size, $length in $cads-spacers {
  .cads-styleguide-spacing-block-#{$size} {
    display: inline-block;
    vertical-align: middle;
    background: rgba($cads-color-border, 0.4);
    border: dotted 1px $cads-color-border;
    width: $length;
    height: $length;
  }
}

.cads-styleguide-sizing-border-small,
.cads-styleguide-sizing-border-medium,
.cads-styleguide-sizing-border-large {
  display: inline-block;
  width: 100px;
  height: 40px;
  vertical-align: middle;
  border: solid $cads-border-width-small $cads-color-border;
  margin-left: 11px;
  margin-right: 11px;
}

.cads-styleguide-sizing-border-medium {
  border: solid $cads-border-width-medium $cads-color-border;
  margin-left: 10px;
}

.cads-styleguide-sizing-border-large {
  border: solid $cads-border-width-large $cads-color-border;
  margin-left: 10px;
}

.cads-styleguide-grid {
  border: solid $cads-border-width-small $cads-color-border;

  .cads-grid-row {
    > div {
      border: solid $cads-border-width-small $cads-color-border;
      background: rgba($cads-color-border, 0.2);
      text-align: center;

      span {
        padding-top: $cads-spacing-2;
        padding-bottom: $cads-spacing-2;
        display: block;
        background: rgba($cads-color-border, 0.4);
      }
    }
  }
}

// Typography example styles

.cads-styleguide-grid-example {
  padding: $cads-spacing-4;
  background-color: $cads-palette__light-grey;
}

.my-unordered-list {
  @extend %cads-list-unordered;
}

.my-ordered-list {
  @extend %cads-list-ordered;
}

.my-plain-list {
  @extend %cads-list-no-bullet;
}

.my-paragraph {
  @extend %cads-paragraph;
}

.my-small-paragraph {
  @extend %cads-paragraph-small;
}

.my-h1 {
  @extend %cads-h1;
}

.my-h2 {
  @extend %cads-h2;
}

.my-h3 {
  @extend %cads-h3;
}

.my-h4 {
  @extend %cads-h4;
}

.remove-margins {
  margin: -1rem;
}
