= render(CitizensAdviceComponents::Disclosure.new(closed_summary: "View", open_summary: "Hide", additional_attributes: { "data-tracking-id": "show", id: "additional-attributes", "data-test-id":"test" } )) do
  %p Example content
