= render(CitizensAdviceComponents::Disclosure.new(closed_summary: "View", open_summary: "Hide", id: "disclosure-1")) do
  %p Example content
= render(CitizensAdviceComponents::Disclosure.new(closed_summary: "View", open_summary: "Hide", id: "disclosure-2")) do
  %p Another example content
