= render(CitizensAdviceComponents::TargetedContent.new(type: :adviser,
  title: "Students or self-sufficient people",
  id: "targeted-content-adviser")) do
  %p Students and people who can support themselves without working (either with their own money, or with help from family or friends) can have a right to reside.
  %p One condition of this type of right to reside is that they won’t be an ‘unreasonable burden on the social assistance system’ - either they’re unlikely to claim benefits or, if they do, they won’t need them for long.

  = render(CitizensAdviceComponents::Table.new(header: header, rows: rows, caption: caption))
