<div class="feedback-prompt">
  <h2 class="feedback-prompt__title">Questions and contributions</h2>
  <p class="feedback-prompt__body">
    All design system discussions take place in the #design-system Slack channel.
    For current issues, roadmap and other info see the
    <a href="https://github.com/orgs/citizensadvice/projects/5">Github project board</a>
    and <a href="https://github.com/citizensadvice/design-system-testing/issues">related issues</a>.
  </p>
</div>
