<div class="feedback-prompt">
  <h2 class="feedback-prompt__title">Questions and contributions</h2>
  <p class="feedback-prompt__body">
    If you have a question, want to share feedback, or wish to propose a
    contribution you can find us on the #design-system channel on Slack.
  </p>
</div>
