<div class="cads-grid-container">
  <div class="cads-grid-row">
    <div class="cads-grid-col-md-9">
      <%= render CitizensAdviceComponents::NoticeBanner.new(label: "Alpha") do %>
        <p>
          This is an alpha release of our documentation site.
          <a href="/docs-roadmap">View the roadmap</a>.
        </p>
      <% end %>
    </div>
  </div>
</div>
