<%= render CitizensAdviceComponents::NoticeBanner.new(label: "Alpha") do %>
  <p>
    You've stumbled across our new documentation site.
    <a href="https://citizensadvice.github.io/design-system/">Go to the live documentation</a>.
  </p>
<% end %>
