.cads-breadcrumbs.cads-breadcrumbs__previous-page-only
  %ul.cads-list-unordered
    %li
      %a.cads-breadcrumb{:href => "/"} Home
    %li
      %a.cads-breadcrumb{:href => "/link1"} Link 1
    %li
      %a.cads-breadcrumb{:href => "/link2"} Link 2
    %li
      %a.cads-breadcrumb{:href => "/link3"} Link 3
    %li
      %a.cads-breadcrumb{:href => "/link6", title: "This is a very long label that should be trunacted"}
        This is a very long label that should be trunacted
    %li{title: "Ensure a title is set in long labels"}
      Ensure a title is set in long labels
