.cads-breadcrumbs
  %ul.cads-list-unordered.cads-list-unordered__inline
    %li
      %a.cads-breadcrumb{:href => "/"} Home
    - breadcrumb_links.each_with_index do |link, index|
      %li
        - if index == breadcrumb_links.size - 1
          %span.cads-breadcrumb
            = link['title']
        - else
          %a.cads-breadcrumb{:href => link['url'], :title => link['title']}
            = link['title']
