.cads-breadcrumbs
  %ul.cads-list-unordered.cads-list-unordered__inline
    %li
      %a.cads-breadcrumb{:href => "/"} Home
    - breadcrumb_links.each do |link|
      %li
        %a.cads-breadcrumb{:href => link['url'], :title => link['title']}
          = link['title']
