-# Default type to standard if none is provided
- type = notice.fetch('type', 'standard')

%div{class: "cads-callout cads-callout-#{type}"}
  - if type != 'standard'
    .cads-callout-label
      = t("cads.callout.#{type}")
  = notice['body']
