
%div{class: "cads-callout cads-callout-example"}
  %h3
    %span.cads-callout-label
    Callout title: Example
  %p
    This style is when an example needs to be displayed. Also use it for quotes.

%div{class: "cads-callout cads-callout-info"}
  %h3
    %span.cads-callout-label
    Callout title: Info
  %p
    This callout style should be used on important, non-mandatory advice for clients that doesn’t have any serious or legal implications. There might be other implications.

%div{class: "cads-callout cads-callout-important"}
  %h3
    %span.cads-callout-label
    Callout title: Important
  %p
    The warning callout should be used for any important snippet of text that has serious and/or legal implications if the client does not follow the advice.
