.cads-error-summary{ role: "alert", "aria-live": "assertive", "aria-labelledby": "error-summary-title", tabindex: 0 }
  %p.cads-error-summary__title{ id: "error-summary-title" }
    There is a problem
  %ul.cads-error-summary__list
    %li
      %a{ href: "#" }
        Enter an email address in the correct format, like name@example.com
    %li
      %a{ href: "#" }
        Enter your full name
