%footer.cads-footer
  = render "@citizensadvice/design-system/haml/website_feedback"
  .cads-grid-container
    .cads-grid-row
      .cads-grid-col-md-3
        %h2.h3 Advice
        %ul
          %li
            %a{:href => "/benefits/"} Benefits
          %li
            %a{:href => "https://www.citizensadvice.org.uk/work/"} Work
          %li
            %a{:href => "https://www.citizensadvice.org.uk/debt-and-money/"} Debt and Money
          %li
            %a{:href => "https://www.citizensadvice.org.uk/consumer/"} Consumer
          %li
            %a{:href => "https://www.citizensadvice.org.uk/family/"} Family
          %li
            %a{:href => "https://www.citizensadvice.org.uk/housing/"} Housing
          %li
            %a{:href => "https://www.citizensadvice.org.uk/law-and-courts/"} Law and courts
          %li
            %a{:href => "/immigration/"} Immigration
          %li
            %a{:href => "https://www.citizensadvice.org.uk/health/"} Health
      .cads-grid-col-md-3
        %h2.h3 Resources and tools
        %ul
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/how-citizens-advice-works/products-and-services/adviser-resources/"} Advisor resources
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/our-prevention-work/education/"} Education resources
          %li
            %a{:href => "https://www.citizensadvice.org.uk/resources-and-tools/about-this-site/accessibility/"} Accessibility
          %li
            %a{:href => "https://www.citizensadvice.org.uk/resources-and-tools/about-this-site/accessibility/"} Site search
          %li
            %a{:href => "https://www.citizensadvice.org.uk/resources-and-tools/search-navigation-tools/a-to-z-of-advice/"} A-Z of advice
      .cads-grid-col-md-3
        %h2.h3 More from us
        %ul
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/"} About us
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/how-citizens-advice-works/who-we-are-and-what-we-do/annual-reports/"} Annual reports
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/contact-us/contact-us/contact-us/"} Contact us
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/contact-us/contact-us/make-a-complaint-about-us/"} Complaints
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/how-citizens-advice-works/media/"} Media
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/policy/"} Policy reseach
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/support-us/"} Support us
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/support-us/volunteering/"} Volunteering
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/how-citizens-advice-works/job-and-voluntary-opportunities/"} Jobs
      .cads-grid-col-md-3
        %h2.h3 About Citizens Advice
        %ul
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/"} How we provide advice
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/difference-we-make/"} The difference we make
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/support-us/"} Support us
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/how-citizens-advice-works/"} How Citizens Advice works
          %li
            %a{:href => "https://www.citizensadvice.org.uk/resources-and-tools/about-this-site/disclaimer-and-copyright/"} Disclaimer and Copyright
          %li
            %a{:href => "https://www.citizensadvice.org.uk/about-us/citizens-advice-privacy-policy/"} Privacy and cookies

    .cads-footer__company-info
      = render "@citizensadvice/design-system/haml/logo_clickable", locals: { root_path: root_path }
      %div
        %p
          Copyright ©2020 Citizens Advice. All rights reserved.
        %p
          Citizens Advice is an operating name of the National Association of
          Citizens Advice Bureaux. Registered charity number 279057. VAT number
          726 0202 76. Company limited by guarantee. Registered number 01436945
          England. Registered office: Citizens Advice, 3rd Floor North, 200
          Aldersgate, London, EC1A 4HD
