:ruby
  feedback_url ||= false
  links ||= {}
  homepage_url ||= "/"

%footer#cads-footer.cads-footer
  .cads-grid-container
    - if feedback_url
      .cads-grid-row
        .cads-grid-col
          %p.cads-footer__feedback
            %a.cads-footer__hyperlink.js-cads-footer-feedback{ href: feedback_url, target: "_blank", rel: "noopener" }= t("cads.footer.website_feedback")
            %span.cads-footer__feedback-icon.cads-icon_external-link
    %nav{"aria-label": t("cads.footer.navigation_title") }
      .cads-grid-row
        - %w[column_one column_two column_three column_four].each do |column|
          - if links[column]
            - links_column = links[column]
            .cads-grid-col-md-3
              %h2.cads-footer__section-title= links_column["title"]
              - if links_column["links"]
                %ul.cads-footer__links
                  - links_column["links"].each do |link|
                    %li.cads-footer__link
                      %a.cads-footer__hyperlink{ href: link["url"] }= link["label"]
                      - if link["icon"]
                        %span{ class: "cads-footer__icon cads-icon_#{link['icon']}" }
      .cads-footer__company-info
        .cads-footer__logo
          %a.cads-logo{ href: homepage_url, title: t("cads.shared.logo_title") }
        .cads-footer__meta
          %p.cads-footer__meta-text{ data: { testid: "copyright" }}= t("cads.shared.copyright")
          %p.cads-footer__meta-text{ data: { testid: "legal-summary" }}= t("cads.shared.legal_summary")
