%header.header
  .cads-grid-container
    .cads-grid-row
      .cads-grid-col-md-6
        = render "logo_clickable"
      .cads-grid-col-md-6.cads-align-right
        %ul.cads-list-unordered.cads-list-unordered__inline
          %li
            %a
              Language
        -#   %li
        -#     %a{href: "https://www.citizensadvice.org.uk/login/?redirect=false&ReturnUrl=#{request.original_url}"} Sign in
        = render "search"

