%header.cads-header
  .cads-grid-container
    .cads-grid-row
      .cads-grid-col-md-6.cads-header__logo-row
        = render "@citizensadvice/design-system/haml/logo_clickable", locals: { root_path: root_path }
        %button.cads-header__search-reveal.js-cads-search-reveal.cads-icon_search{ title: t('cads.header.search_mobile'), "aria-expanded": "false" }
      .cads-grid-col-md-6.cads-align-right.cads-header__search-row
        %ul.cads-header__account-links
          %li.cads-header__account-links-item
            %a{href: alt_language['url']}= alt_language['title']
          %li.cads-header__account-links-item
            %a{href: sign_in['url']}
              = sign_in['text']
        = render partial: "@citizensadvice/design-system/haml/search", locals: { search_action_url: search_action_url }
