%header.cads-header
  .cads-grid-container
    .cads-grid-row
      .cads-grid-col-md-5.cads-header-logo-row
        = render "@citizensadvice/design-system/haml/logo_clickable", locals: { root_path: root_path }
        %button.cads-button__secondary.cads-search-reveal.cads-icon-search{title: "Search"}
        %button.cads-button__secondary.cads-search-reveal.cads-icon-close{title: "Close Search"}
      .cads-grid-col-md-7.cads-align-right.cads-header-search-row
        %ul.cads-list-unordered.cads-list-unordered__inline.cads-header-account-panel
          %li
            %a{href: "/?lang"} Language
          %li
            %a{href: sign_in_url} Sign in
        = render partial: "@citizensadvice/design-system/haml/search", locals: { search_action_url: search_action_url }
