.cads-input-group
  %label.cads-form-label{id: "abc-label", for: "abc-input" }
    %span.cads-heading-small= input_label
    %span.paragraph-s.cads-form__hint= input_hint
  %input.cads-input{type: "text", id: "abc-input"}
