.cads-navigation-full-width-wrapper
  %nav#cads-navigation.cads-navigation.js-cads-greedy-nav
    %ul.cads-navigation__list
      - navigation_links.each_with_index do |link, index|
        %li.cads-navigation__list-item
          %a.cads-navigation__link{:href => link['url'], :title => link['title']}
            = link['title']
