.cads-navigation-full-width-wrapper
  %nav.cads-navigation
    %ul.cads-list-unordered
      - navigation_links.each_with_index do |link, index|
        %li
          %a.cads-nav-link{:href => link['url'], :title => link['title']}
            = link['title']
