-# OISC Warning

-# Set defaults for parameters
- title ||= ''
- body ||= ''
- is_sticky ||= false

-if is_sticky
  .js-oisc-warning-sticky-sentry
.oisc-warning{:class => ("is-sticky" if is_sticky)}
  .oisc-warning__header
    %h2.oisc-warning__title.cads-heading-small= title
    -if is_sticky
      %button.oisc-warning__close.js-oisc-warning-close
        %span.cads-icon_close
        %span.cads-sr-only
          Close this warning
  -if not body.empty?
    %p.oisc-warning__body= body
