-# OISC Warning

-# Set defaults for parameters
- title ||= ''
- content ||= ''
- isSticky ||= false

-if isSticky
  .js-oisc-warning-sticky-sentry
.oisc-warning.js-oisc-warning{:class => ("is-sticky" if isSticky)}
  .oisc-warning__header
    %h2.oisc-warning__title.cads-heading-small= title
    -if isSticky
      %button.oisc-warning__close.js-oisc-warning-close
        %span.cads-icon_close
          %span.cads-sr-only
            Close
  -if not content.empty?
    %p.oisc-warning__content= content
