%hr

%h3 Regular size radio buttons

.cads-form.cads-form-error.cads-form-error.cads-form-optional
  .cads-form-error-marker
  %fieldset.cads-form-content.cads-radio-group
    %legend.cads-form-label.cads-heading-small
      Select your favourite fruit
    %p.paragraph-s.cads-form__hint
      All fruit are nice
    %label.cads-radio-button{for: "fruit-banana"}
      Banana
      %input{type: "radio", id: "fruit-banana", name: "fruit"}
      %span.cads-radio-button-checkmark
    %label.cads-radio-button{for: "fruit-apple"}
      Apple
      %input{type: "radio", id: "fruit-apple", name: "fruit"}
      %span.cads-radio-button-checkmark
    %label.cads-radio-button{for: "fruit-orange"}
      Orange
      %input{type: "radio", id: "fruit-orange", name: "fruit"}
      %span.cads-radio-button-checkmark

%hr

%h3
  Small radio buttons

.cads-form.cads-form-error.cads-form-error.cads-form-optional
  .cads-form-error-marker
  %fieldset.cads-form-content.cads-radio-group.cads-radio-group__small
    %legend.cads-form-label.cads-heading-small
      Do you like bananas?
    %p.paragraph-s.cads-form__hint
      Bananas are yellow
    %label.cads-radio-button{for: "fruit-yes"}
      Yes
      %input{type: "radio", id: "fruit-yes", name: "fruit-s"}
      %span.cads-radio-button-checkmark
    %label.cads-radio-button{for: "fruit-no"}
      No
      %input{type: "radio", id: "fruit-no", name: "fruit-s"}
      %span.cads-radio-button-checkmark
