%fieldset.cads-radio-group{role: 'radiogroup', id:'fielsetabc'}
  %legend.cads-heading-small= radio_group_label
  %label.paragraph-s.cads-radio-group__hint= radio_group_hint
  %div
    %label{for: 'abc2'}
      Potato
    %input{type: 'radio', id:'abc1', name:'tom'}
  %div
    %label{for: 'abc2'}
      Lemon
    %input{type: 'radio', id:'abc2', name:'lem'}
  %div
    %label{for: 'abc3'}
      Parsnip
    %input{type: 'radio', id:'abc3', name:'par'}
