%fieldset.cads-radio-group
  %legend.cads-heading-small
  Select your favourite fruit
  %p.paragraph-s.cads-radio-group__hint
    All fruit are nice
  %label.cads-radio-button{for: "fruit-banana"}
    Banana
    %input{type: "radio", id: "fruit-banana", name: "fruit"}
    %span.cads-radio-button-checkmark
  %label.cads-radio-button{for: "fruit-apple"}
    Apple
    %input{type: "radio", id: "fruit-apple", name: "fruit"}
    %span.cads-radio-button-checkmark
  %label.cads-radio-button{for: "fruit-orange"}
    Orange
    %input{type: "radio", id: "fruit-orange", name: "fruit"}
    %span.cads-radio-button-checkmark
