%form.cads-search{action: "https://www.citizensadvice.org.uk/resources-and-tools/search-navigation-tools/Search/", role: "search"}
  %input{type: "search", name: "q", "aria-label": "Search through site content"}
  %button.cads-button.cads-search-button
    Search
