.cads-table-container
  %table.cads-table{ class: [table_data['caption'] && !table_data['caption'].empty? && 'cads-table__has-caption'] }
    - if table_data['caption'] and not table_data['caption'].empty?
      %caption= table_data['caption']

    %tbody
      %tr
        - table_data['header'].each do |head|
          %th{ "scope": "col" }
            %span.cads-table__content= head

      - table_data['rows'].each do |row|
        %tr
          - table_data['header'].zip(row).each do |(header, cell)|
            %td
              %span.cads-table__th-heading= header
              %span.cads-table__content= cell
