%table.cads-table
  %caption Client under pension age
  %tbody
    %tr
      %th{ "scope": "col" }
        %span.cads-table__content Rate
      %th{ "scope": "col" }
        %span.cads-table__content From April 2016
      %th{ "scope": "col" }
        %span.cads-table__content From April 2017
      %th{ "scope": "col" }
        %span.cads-table__content From April 2018
      %th{ "scope": "col" }
        %span.cads-table__content From April 2019
      %th{ "scope": "col" }
        %span.cads-table__content From April 2020
    %tr
      %th{ "scope": "row" }
        %span.cads-table__content Basic rate
      %td
        %span.cads-table__content £79.45
      %td
        %span.cads-table__content £80.25
      %td
        %span.cads-table__content £82.65
      %td
        %span.cads-table__content £84.65
      %td
        %span.cads-table__content £86.10
    %tr
      %th{ "scope": "row" }
        %span.cads-table__content Adult dependency increase
      %td
        %span.cads-table__content £47.65
      %td
        %span.cads-table__content £49.67
      %td
        %span.cads-table__content £51.69
      %td
        %span.cads-table__content £53.71
      %td
        %span.cads-table__content £55.73
    %tr
      %th{ "scope": "row" }
        %span.cads-table__content Earnings limit for adult dependant
      %td
        %span.cads-table__content £48.15
      %td
        %span.cads-table__content £50.27
      %td
        %span.cads-table__content £52.39
      %td
        %span.cads-table__content £54.41
      %td
        %span.cads-table__content £56.53
