
%table.cads-table
  %caption Client under pension age
  %tbody
    %tr
      - table['header'].each do |head|
        %th{ "scope": "col" }
          %span.cads-table__content= head

    - table['rows'].each do |object|
      %tr
      - object.each do |row|
        %td
          %span.cads-table__content= row
