// ============================================================================
// Component examples
// ============================================================================

.component-example {
  border: 1px solid $cads-language__border-colour;
  margin-bottom: $cads-spacing-6;
  padding: $cads-spacing-4;
}

.component-example__links {
  @include cads-typographic-scale-text-small();

  & {
    text-align: right;
    margin-bottom: $cads-spacing-7;
  }
}
.component-example__preview {
  border: none;
  border-width: 1px 0;
}
.component-example__iframe {
  display: block;
  border: 0;
  width: 100%;
  min-height: 60px;
  overflow: auto;
}
.component-example__source {
  margin-top: $cads-spacing-7;
  padding-top: $cads-spacing-4;
  border-top: $cads-border-width-small $cads-language__border-colour solid;

  .cads-disclosure {
    margin: 0 0 $cads-spacing-3 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .cads-disclosure__toggle {
    @include cads-typographic-scale-text-small();
  }

  pre.highlight {
    margin-bottom: 0;
  }
}
