// ============================================================================
// Sample styles
// One-offs used by component pages
// ============================================================================

.section-links-example-custom-content {
  background-color: #e6eff2;
  padding: 1rem;
  margin: 1rem 0;
  box-sizing: border-box;
}
