$cads-spacers: (
  (
    0: 0,
    1: $cads-spacing-1,
    2: $cads-spacing-2,
    3: $cads-spacing-3,
    4: $cads-spacing-4,
    5: $cads-spacing-5,
    6: $cads-spacing-6,
    7: $cads-spacing-7,
  )
);

@each $size, $length in $cads-spacers {
  .spacing-block-#{$size} {
    display: inline-block;
    vertical-align: middle;
    background: rgba($cads-language__border-colour, 0.4);
    border: dotted 1px $cads-language__border-colour;
    width: $length;
    height: $length;
  }
}
