.cads-form-field{ class: ("cads-form-field--has-error" if error?) }
  .cads-form-field__error-marker
  .cads-form-group.cads-form-field__content.cads-form-group--checkbox
    .cads-form-field__label
    - if error?
      %p.cads-form-field__error-message{ id: "#{name}-error" }
        = error_message
    .cads-form-group__item
      %input.cads-form-group__input{ checkbox.attributes(name, error: error?) }
      %label.cads-form-group__label{ for: checkbox.attributes(name)[:id] }
        = checkbox.label
