.cads-disclosure.js-disclosure
  %button{ button_attrs }
    %span.cads-disclosure__summary.js-disclosure-summary
      = closed_summary
  .cads-disclosure__details.js-disclosure-details{ id: disclosure_details_id}
    = content
