<div class="cads-form-field<% if error? %> cads-form-field--has-error<% end %>">
  <% if error? %><div class="cads-form-field__error-marker"></div><% end %>
  <div class="cads-form-field__content"><%= content %></div>
</div>
