<div class="cads-navigation-full-width-wrapper">
  <nav
    id="cads-navigation"
    class="cads-navigation js-cads-greedy-nav"
    data-dropdown-label="<%= t('citizens_advice_components.navigation.dropdown_label') %>"
    data-dropdown-label-close="<%= t('citizens_advice_components.navigation.dropdown_label_close') %>"
  >
    <ul class="cads-navigation__list">
      <% links.each do |link| %>
        <li class="cads-navigation__list-item">
          <%= link_to link[:title], link[:url], class: "cads-navigation__link" %>
          </li>
      <% end %>
    </ul>
  </nav>
</div>
