.cads-navigation-full-width-wrapper
  %nav#cads-navigation.cads-navigation.js-cads-greedy-nav
    %ul.cads-navigation__list
      - links.each do |link|
        %li.cads-navigation__list-item
          = link_to link[:title], link[:url], class: "cads-navigation__link"
