<nav aria-label="<%= t("citizens_advice_components.pagination.aria_label") %>">
  <ul class="cads-paging cads-list-unordered__inline">
    <% links_to_show.each do |pagination_link| %>
      <li class="cads-paging__item<% if pagination_link.current? %> cads-paging__current<% end %>">
        <%= tag.a(
          pagination_link.label,
          class: "cads-paging__button",
          href: pagination_link.href,
          "aria-label": pagination_link.aria_label,
          "aria-current": ("page" if pagination_link.current?),
          "data-testid": "paging-control"
        ) %>
      </li>
    <% end %>
  </ul>
</nav>
