.cads-search
  %input.cads-search__input.cads-input{ type: "search",
    name: param_name,
    "aria-label": t(".input_aria_label"),
    value: value.presence }
  %button.cads-search__button{ type: "submit", title: t(".submit_title") }
    %span.cads-search__button-label= t(".submit_label")
