.cads-table-container
  %table.cads-table{ class: ("cads-table--captioned" if caption?) }
    - if caption?
      %caption= caption
    %thead
      %tr
        - header.each do |head|
          %th{ scope: "col" }
            %span.cads-table__content= head
    %tbody
      - rows.each do |row|
        %tr
          - header.zip(row).each do |(header, cell)|
            %td
              %span.cads-table__th-heading= header
              %span.cads-table__content= cell
