<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all" %>
  </head>
  <body>
    <div id="content"><%= yield %></div>
  </body>
</html>
