- asset_hyperlink = { "uri" => "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf", "description" => "Test PDF", "size" => 6_444_516 }
= render partial: "@citizensadvice/design-system/haml/asset_hyperlink", locals: { asset_hyperlink: asset_hyperlink }
