- asset_hyperlink = { uri: "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf", description: "Test pdf", size: 6_444_516, type: "pdf" }
= render "@citizensadvice/design-system/haml/asset_hyperlink", asset_hyperlink: asset_hyperlink
