= render(DesignSystem::BaseIconComponent.new(width: 12, height: 16)) do
  %path{ d: "M11.736 16c0.188 0 0.368-0.075 0.501-0.207s0.207-0.313 0.207-0.501v-11.652c0-0.158-0.031-0.314-0.091-0.46s-0.149-0.278-0.26-0.39l-2.509-2.439c-0.112-0.112-0.244-0.2-0.39-0.26s-0.302-0.091-0.46-0.091h-8.027c-0.188 0-0.368 0.075-0.501 0.207s-0.207 0.313-0.207 0.501v14.584c0 0.188 0.075 0.368 0.207 0.501s0.313 0.207 0.501 0.207h11.028zM10.672 14.222h-8.895v-12.444h4.444v3.737c0 0.188 0.075 0.368 0.207 0.501s0.313 0.207 0.501 0.207h3.736l0.006 8zM10.667 4.439l-2.664 0.006v-2.667h0.466l2.198 2.131v0.53z" }
