= render(DesignSystem::BaseIconComponent.new(width: 12, height: 16)) do
  - if variant == "left"
    %path{ fill: "currentColor", d: "M10.455 2.688l-4.741 4.741 4.741 4.741c0.223 0.223 0.223 0.58 0 0.804l-1.482 1.482c-0.223 0.223-0.58 0.223-0.804 0l-6.625-6.625c-0.223-0.223-0.223-0.58 0-0.804l6.625-6.625c0.223-0.223 0.58-0.223 0.804 0l1.482 1.482c0.223 0.223 0.223 0.58 0 0.804z" }
  - else
    %path{ fill: "currentColor", d: "M9.884 7.83l-6.625 6.625c-0.223 0.223-0.58 0.223-0.804 0l-1.482-1.482c-0.223-0.223-0.223-0.58 0-0.804l4.741-4.741-4.741-4.741c-0.223-0.223-0.223-0.58 0-0.804l1.482-1.482c0.223-0.223 0.58-0.223 0.804 0l6.625 6.625c0.223 0.223 0.223 0.58 0 0.804z" }
