.cads-grid-container
  .cads-grid-row
    .cads-grid-col-2
      .cads-styleguide-grid-example
        2 columns
    .cads-grid-col-6
      .cads-styleguide-grid-example
        6 columns
    .cads-grid-col-4
      .cads-styleguide-grid-example
        4 columns
