# Browser choice
BROWSER=chrome

# Browser width (If visible)
BROWSER_WIDTH=1280

# Browser height (If visible)
BROWSER_HEIGHT=800

# Headless configuration. If set to true, Will use the headless option
HEADLESS=true

# Whether to run through Browserstack
BROWSERSTACK=false

# Replace with your browserstack username
BROWSERSTACK_USERNAME=

# Replace with the Access Key required for the relevant Username
BROWSERSTACK_ACCESS_KEY=

# Whether you want browserstack to continually take screenshots
BROWSERSTACK_DEBUG_MODE=false

# A String representing exactly what configuration you want for your Browserstack driver
# i.e. Windows_7_83 --> Windows 7, Running Browser Version 83
# i.e. OSX_Catalina_13 --> OSX Catalina, Running Browser Version 13
# For devices replace the first part with a non-space separated iOS Device
# i.e. iPhone8_11 --> iPhone 8, Running Browser Version 11
# i.e. iPhone11_13 --> iPhone 11, Running Browser Version 13
BROWSERSTACK_CONFIGURATION_OPTIONS=Windows_10_83

# Whether you want to run on the Selenium Grid or not?
GRID=false

# The url for the Selenium Hub spun up by Docker
HUB_URL=http://hub:4444/wd/hub

# The logging level - Default to "INFO"
LOG_LEVEL=INFO

# The base url you want to hit
APP_URL=https://citizensadvice.github.io/design-system

# The base artifacts path to store your artifacts in
BASE_ARTIFACTS_PATH=testing/artifacts
