<div class="cads-prose">
  <p><a href="/relative/link">Relative link</a></p>
  <p><a href="https://www.citizensadvice.org.uk">Link to www.citizensadvice.org.uk</a></p>
  <p>Mailto link: <a href="mailto:example@example.com">example@example.co.uk</a></p>
  <p>Tel link: <a href="tel:5555555">555&nbsp;55&nbsp;55</a></p>
  <p><a href="https://www.example.org">Link to an external website</a></p>
</div>
