= render CitizensAdviceComponents::Header.new do |c|
  - c.logo(title: "Citizens Advice homepage", url: "/")
  - c.skip_links(skip_links)
  - c.header_links(header_links)
  - c.search_form(search_action_url: "/search")
= render CitizensAdviceComponents::Navigation.new(links: navigation_links)
