---
title: Basic grid
---
<div class="cads-grid-container">
  <div class="cads-grid-row">
    <div class="cads-grid-col-8">
      <div class="grid-example">
        This text is constrained to 8 columns
      </div>
    </div>
  </div>
</div>
