---
title: Multi column grid
---
<div class="cads-grid-container">
  <div class="cads-grid-row">
    <div class="cads-grid-col-8">
      <div class="cads-styleguide-grid-example">8 columns</div>
    </div>
    <div class="cads-grid-col-4">
      <div class="cads-styleguide-grid-example">4 columns</div>
    </div>
  </div>
</div>
