---
title: External link
iframe: false
---

<div class="cads-prose">
  <p>
    A <a href="http://www.example.com/unvisted" class="cads-hyperlink--external">cads-hyperlink--external</a> link, displayed in a paragraph.
  </p>
  <p>
    This is a link to an <a href="https://www.example.com" rel="external">external site</a>, while this link is within <a href="https://www.citizensadvice.org.uk/immigration">Citizens Advice</a>
  </p>
</div>
