%ul.my-unordered-list
  %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
  %li
    Aliquam
    %a{href: '#'}
      auctor dapibus neque
  %li Vestibulum auctor dapibus neque.
  %li Nunc dignissim risus id metus.
  %li Cras ornare tristique elit.
  %li Vivamus vestibulum ntulla nec ante.
  %li Praesent placerat risus quis eros.
  %li Fusce pellentesque suscipit nibh.
  %li Integer vitae libero ac risus egestas placerat.
