@use '../1-settings/breakpoints' as breakpoint-settings;
@use '../2-tools/breakpoints' as breakpoint-tools;
@use '../2-tools/visibility' as visibility-tools;

// @define hide
.cads-hide {
  display: none !important;
}

// @define invisible
.cads-invisible {
  visibility: hidden !important;
}

// @define visually-hidden
.cads-visually-hidden {
  @include visibility-tools.cads-visually-hidden;
}

// @define sr-only
.cads-sr-only {
  // @v6: deprecate cads-sr-only class in favour of cads-visually-hidden to match mixin name
  @include visibility-tools.cads-visually-hidden;
}

// @define sr-only-focusable
.cads-sr-only-focusable {
  // @v6: deprecate this class, it is undocumented and never used
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
}

// @define show-md-up
.cads-show-md-up {
  display: none !important;

  @include breakpoint-tools.cads-media-breakpoint-up(md) {
    display: inherit !important;
  }
}

// @define show-md-down
.cads-show-md-down {
  display: inherit !important;

  @include breakpoint-tools.cads-media-breakpoint-up(md) {
    display: none !important;
  }
}

// @define show-md-only
.cads-show-md-only {
  display: none !important;

  @include breakpoint-tools.cads-media-breakpoint-only(md) {
    display: inherit !important;
  }
}

// @define hide-md-up
.cads-hide-md-up {
  @include breakpoint-tools.cads-media-breakpoint-up(md) {
    display: none !important;
  }
}

// @define hide-md-down
.cads-hide-md-down {
  display: none !important;

  @include breakpoint-tools.cads-media-breakpoint-up(md) {
    display: inherit !important;
  }
}

// @define hide-md-only
.cads-hide-md-only {
  @include breakpoint-tools.cads-media-breakpoint-only(md) {
    display: none !important;
  }
}

// @define show-lg-up
.cads-show-lg-up {
  display: none !important;

  @include breakpoint-tools.cads-media-breakpoint-up(lg) {
    display: inherit !important;
  }
}

// @define show-lg-down
.cads-show-lg-down {
  display: inherit !important;

  @include breakpoint-tools.cads-media-breakpoint-up(lg) {
    display: none !important;
  }
}

// @define show-lg-only
.cads-show-lg-only {
  display: none !important;

  @include breakpoint-tools.cads-media-breakpoint-only(lg) {
    display: inherit !important;
  }
}

// @define hide-lg-up
.cads-hide-lg-up {
  @include breakpoint-tools.cads-media-breakpoint-up(lg) {
    display: none !important;
  }
}

// @define hide-lg-down
.cads-hide-lg-down {
  display: none !important;

  @include breakpoint-tools.cads-media-breakpoint-up(lg) {
    display: inherit !important;
  }
}

// @define hide-lg-only
.cads-hide-lg-only {
  @include breakpoint-tools.cads-media-breakpoint-only(lg) {
    display: none !important;
  }
}
