---
title: Previous next
---
<div>
  <%= render CitizensAdviceComponents::Button.new do |c| %>
    Next
    <% c.with_icon_right do
      render CitizensAdviceComponents::Icons::ArrowRight.new
    end
  end %>
</div>
<div>
  <%= render CitizensAdviceComponents::Button.new(variant: :secondary) do |c| %>
    Previous
    <% c.with_icon_left do
      render CitizensAdviceComponents::Icons::ArrowLeft.new
    end
  end %>
</div>
