---
title: PlusMinus icons
---

<p><button class="cads-button cads-button_secondary js-plus-minus-example" type="button">Toggle plus/minus</button></p>

<%= render CitizensAdviceComponents::Icons::PlusMinus.new(size: :large) %>

