---
title: ArrowUpDown icons
---

<p><button class="cads-button cads-button_secondary js-up-down-example" type="button">Toggle up/down</button></p>

<%= render CitizensAdviceComponents::Icons::ArrowUpDown.new(size: :large) %>

