@use '../1-settings/typography' as typography;
@use '../1-settings/colour-language' as language;

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: typography.$cads-font-family;
  font-size: typography.$cads-font-size;
  font-weight: typography.$cads-font-weight__regular;
  color: language.$cads-language__text__colour;
}
