// ============================================================================
// Page content
// ============================================================================

/** @define page-title */
.cads-page-title {
  @extend %cads-h1;

  margin-top: $cads-spacing-5;
}

/** @define page-content */
.cads-page-content {
  padding-bottom: cads-rem(80px);

  @include cads-media-breakpoint-only(sm) {
    padding-bottom: cads-rem(40px);
  }
}
