@use '../1-settings/prose' as prose-config;

@mixin cads-prose() {
  h1 {
    @extend %cads-h1;
  }

  h2 {
    @extend %cads-h2;
  }

  h3 {
    @extend %cads-h3;
  }

  h4 {
    @extend %cads-h4;
  }

  p {
    @extend %cads-paragraph;
  }

  ul {
    @extend %cads-list-unordered;

    padding-left: 1.25rem;

    li p {
      margin-bottom: 0;
    }
  }

  ol {
    @extend %cads-list-ordered;

    padding-left: 1.25rem;

    li p {
      margin-bottom: 0;
    }
  }

  img {
    display: block;
    padding: 0;
    margin: 0 0 $cads-spacing-5 0;
    max-width: 100%;
  }

  .cads-list-no-bullet {
    @extend %cads-list-no-bullet;
  }

  @if $cads-enable-external-link-icon == true {
    // Style external links
    a[rel~='external']::after,
    // Allow external links to be determined based on $cads-internal-link-domain value
    // Favour using rel=external as a styling hook.
    // https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel#attr-external
    a:not([href^="#{prose-config.$cads-internal-link-domain}"]):not([href^="/"]):not([href^="#"]):not([href^="mailto:"]):not([href^="tel:"])::after {
      @media not print {
        @include cads-hyperlink--external-icon;
      }
    }
  }
}

/**
 * Prose placeholder, allows components to extend prose styles
 * without using a mixin or extending a raw class name.
 */
%cads-prose {
  @include cads-prose;
}

/**
 * Prose styles (cascading)
 *
 * Apply this class to blocks of HTML that you want to give consistent typographic styles,
 * typically this is applied to blocks of copy that come from a content management system
 * or local file.
 */
.cads-prose {
  @include cads-prose;
}

/**
 * Prose styles (direct descendants)
 *
 * This applies the same styles as the default cads-prose class but scoped using
 * a child combinator selector to only apply the styles to immediate children.
 * This is useful when you are embedding lots of rich components within a prose
 * block and you want to more narrowly scope the effects of the cascade.
 */
.cads-prose-direct-descendants {
  > {
    @include cads-prose;
  }
}

@media print {
  a[href]::after {
    content: (' (' attr(href) ')');
    display: inline;
  }

  a[href^='/']::after {
    content: (' (#{prose-config.$cads-internal-link-domain}' attr(href) ')');
    display: inline;
    word-break: break-all;
  }
}
