@use '../1-settings/prose' as prose-config;

%cads-prose {
  h1 {
    @extend %cads-h1;
  }

  h2 {
    @extend %cads-h2;
  }

  h3 {
    @extend %cads-h3;
  }

  h4 {
    @extend %cads-h4;
  }

  p {
    @extend %cads-paragraph;
  }

  ul {
    @extend %cads-list-unordered;

    padding-left: 1.25rem;

    li p {
      margin-bottom: 0;
    }
  }

  ol {
    @extend %cads-list-ordered;

    padding-left: 1.25rem;

    li p {
      margin-bottom: 0;
    }
  }

  img {
    display: block;
    padding: 0;
    margin: 0 0 $cads-spacing-5 0;
    max-width: 100%;
  }
}

.cads-prose {
  @extend %cads-prose;

  .cads-list-no-bullet {
    @extend %cads-list-no-bullet;
  }
}

@media print {
  a[href]::after {
    content: (' (' attr(href) ')');
    display: inline;
  }

  a[href^='/']::after {
    content: (' (#{prose-config.$cads-internal-link-domain}' attr(href) ')');
    display: inline;
    word-break: break-all;
  }
}
