.cads-advisernet {
  .cads-related-content {
    .cads-targeted-content {
      display: none;
    }

    @include cads-media-breakpoint-only(sm) {
      .cads-targeted-content {
        display: block;
      }

      .cads-related-content__content {
        display: none;
      }
    }
  }
}
