= render(CitizensAdviceComponents::NoticeBanner.new(label: "Notice banner title")) do
  %p If you’re a Thomas Cook customer and you’re stuck abroad or want to get your money back, get help from the Civil Aviation Authority.
