// Widths
$cads-border-width-small: 1px !default;
$cads-border-width-medium: 2px !default;
$cads-border-width-large: 4px !default;

// Radii
$cads-border-radius: 1px !default;
$cads-border-radius-large: 4px !default;
