// Widths
$cads-border-width-medium: 1px !default;
$cads-border-width-large: 2px !default;

// Do we need rounded borders?
// Radii
$cads-border-radius-medium: 4px !default;
$cads-border-radius-large: 8px !default;
$cads-border-radius-pill: 96px !default;
