// stylelint-disable scss/dollar-variable-pattern

$cads-palette__black: #161616;
$cads-palette__blue-adviser: #006278;
$cads-palette__blue-adviser-dark: #03495f;
$cads-palette__blue-light: #f2f8ff;
$cads-palette__dark-grey: #4a4e4f;
$cads-palette__green: #0a8600;
$cads-palette__heritage-blue-40: #97a8cc;
$cads-palette__heritage-blue-dark: #012760;
$cads-palette__heritage-blue: #004b88;
$cads-palette__heritage-yellow-40: #fde5c4;
$cads-palette__heritage-yellow: #fcbb69;
$cads-palette__light-grey: #e5e5e5;
$cads-palette__mid-grey: #8d9093;
$cads-palette__purple: #8f3ea3;
$cads-palette__red-light: #fceaeb;
$cads-palette__red: #df3034;
$cads-palette__red-dark: #9a0101;
$cads-palette__teal-dark: #006159;
$cads-palette__teal: #018176;
$cads-palette__white: #fff;
$cads-palette__yellow: #ffd250;
