@import 'legacy-colours';
@use '../1-settings/colour-palette' as palette;

@function cads-colours($colour, $legacy: false) {
  @if ($legacy) {
    @if (type-of($legacy) == 'color') {
      @return $legacy;
    }
  }

  @return $colour;
}

// ${component}__{element}__{property}--{state}
$cads-language__brand--primary: cads-colours(
  palette.$cads-palette__heritage-blue,
  $legacy: $cads-language__brand-primary
) !default;
$cads-language__brand--primary-dark: cads-colours(
  palette.$cads-palette__heritage-blue-dark,
  $legacy: $cads-language__tertiary-button-dark-hover-background-colour
) !default;
$cads-language__brand--secondary: cads-colours(
  palette.$cads-palette__heritage-yellow,
  $legacy: $cads-language__brand-secondary
) !default;
$cads-language__brand--primary-contrast: cads-colours(
  palette.$cads-palette__white,
  $cads-language__brand-primary-contrast
) !default;
$cads-language__brand--adviser: cads-colours(
  palette.$cads-palette__blue-adviser,
  $legacy: $cads-language__brand-adviser
) !default;
$cads-language__brand--focus: cads-colours(
  palette.$cads-palette__yellow,
  $legacy: $cads-language__focus-colour
) !default;

// Text
$cads-language__text__colour: cads-colours(
  palette.$cads-palette__black,
  $legacy: $cads-language__text-colour
) !default;
$cads-language__text__colour--secondary: cads-colours(
  palette.$cads-palette__dark-grey,
  $legacy: $cads-language__secondary-text-colour
) !default;

// Links
$cads-language__link__colour: cads-colours(
  palette.$cads-palette__heritage-blue,
  $legacy: $cads-language__link-colour
) !default;
$cads-language__link__colour--hover: cads-colours(
  palette.$cads-palette__heritage-blue-dark,
  $legacy: $cads-language__link-hover-colour
) !default;
$cads-language__link__colour--visited: cads-colours(
  palette.$cads-palette__purple,
  $legacy: $cads-language__link-visited-colour
) !default;
$cads-language__link__colour--active: cads-colours(
  palette.$cads-palette__dark-grey,
  $legacy: $cads-language__link-active-colour
) !default;

$cads-language__background-colour--hover: cads-colours(
  palette.$cads-palette__blue-light,
  $legacy: $cads-language__hover-background-colour
) !default;
$cads-language__border-colour--focus: cads-colours(
  palette.$cads-palette__dark-grey,
  $legacy: $cads-language__focus-border-colour
) !default;

$cads-language__input__border-colour: cads-colours(
  palette.$cads-palette__mid-grey,
  $legacy: $cads-language__input-border-colour
) !default;
$cads-language__border-colour: cads-colours(
  palette.$cads-palette__light-grey,
  $legacy: $cads-language__border-colour
) !default;

// Buttons
$cads-language__button__colour--primary: cads-colours(
  palette.$cads-palette__teal,
  $legacy: $cads-language__primary-button-colour
) !default;
$cads-language__button__colour--primary-hover: cads_colours(
  palette.$cads-palette__teal-dark,
  $legacy: $cads-language__primary-button-hover-colour
) !default;

// Messages
$cads-language__error__colour: cads-colours(
  palette.$cads-palette__red,
  $legacy: $cads-language__error-colour
) !default;
$cads-language__important__colour: cads-colours(
  palette.$cads-palette__red,
  $legacy: $cads-language__warning-colour
) !default;
$cads-language__success__colour: cads-colours(
  palette.$cads-palette__green,
  $legacy: $cads-language__success-colour
) !default;

// Header
$cads-header__background-colour: cads-colours(
  palette.$cads-palette__white,
  $legacy: $cads-header__background-colour
) !default;
$cads-header__link__colour: cads-colours(
  palette.$cads-palette__heritage-blue,
  $legacy: $cads-header__link-colour
) !default;
$cads-header__link__colour--hover: cads-colours(
  palette.$cads-palette__heritage-blue-dark,
  $legacy: $cads-header__link-hover-colour
) !default;
$cads-header__background-colour--hover: cads-colours(
  palette.$cads-palette__blue-light,
  $legacy: $cads-header__hover-background-colour
) !default;
$cads-header__link__colour--visited: cads-colours(
  palette.$cads-palette__purple,
  $legacy: $cads-header__link-visited-colour
) !default;
$cads-header__link__colour--active: cads-colours(
  palette.$cads-palette__dark-grey,
  $legacy: $cads-header__link-active-colour
) !default;

$cads-header__sign-out__background-colour: cads-colours(
  palette.$cads-palette__white,
  $legacy: $cads-header__sign-out-background-colour
) !default;
$cads-header__sign-out__colour: cads-colours(
  palette.$cads-palette__teal,
  $legacy: $cads-header__sign-out-colour
) !default;
$cads-header__sign-out__border-colour: cads-colours(
  palette.$cads-palette__teal-dark,
  $legacy: $cads-header__sign-out-border-colour
) !default;

// Footer
$cads-footer__divider__colour: cads-colours(
  palette.$cads-palette__heritage-blue-dark,
  $legacy: $cads-footer__divider-colour
) !default;
$cads-footer__background-colour: cads-colours(
  palette.$cads-palette__blue-light,
  $legacy: $cads-footer__background-colour
) !default;
$cads-footer__text__colour: cads-colours(
  palette.$cads-palette__black,
  $legacy: $cads-footer__text-colour
) !default;
$cads-footer__text__colour--secondary: cads-colours(
  palette.$cads-palette__heritage-blue,
  $legacy: $cads-footer__text-secondary-colour
) !default;
$cads-footer__link__colour: cads-colours(
  palette.$cads-palette__heritage-blue,
  $legacy: $cads-footer__link-colour
) !default;
$cads-footer__link__colour--hover: cads-colours(
  palette.$cads-palette__heritage-blue-dark,
  $legacy: $cads-footer__link-hover-colour
) !default;
$cads-footer__background-colour--hover: cads-colours(
  palette.$cads-palette__blue-light,
  $legacy: $cads-footer__hover-background-colour
) !default;
$cads-footer__link__colour--visited: cads-colours(
  palette.$cads-palette__purple,
  $legacy: $cads-footer__link-visited-colour
) !default;
$cads-footer__link__colour--active: cads-colours(
  palette.$cads-palette__dark-grey,
  $legacy: $cads-footer__link-active-colour
) !default;
