/* stylelint-disable */

@font-face {
    font-family: 'cads-icons';
    src: url('fonts/cads.eot?sl5jlw');
    src: url('fonts/cads.eot?sl5jlw#iefix') format('embedded-opentype'),
        url('fonts/cads.ttf?sl5jlw') format('truetype'),
        url('fonts/cads.woff?sl5jlw') format('woff'),
        url('fonts/cads.svg?sl5jlw#cads') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cads-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon_arrow-left:before {
    content: '\e900';
}
.icon-icon_arrow-right:before {
    content: '\e901';
}
.icon-icon_checkmark:before {
    content: '\e902';
}
.icon-icon_exclamation-circle:before {
    content: '\e903';
    color: #df3034;
}
.icon-icon_external-link:before {
    content: '\e904';
}
.icon-icon_minus:before {
    content: '\e905';
}
.icon-icon_plus:before {
    content: '\e906';
}
.icon-icon_print:before {
    content: '\e907';
}
.icon-icon_redo:before {
    content: '\e908';
}
.icon-icon_search:before {
    content: '\e909';
}
