/* stylelint-disable */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../../fonts/open-sans-v17-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('../../fonts/open-sans-v17-latin-regular.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('../../fonts/open-sans-v17-latin-regular.woff') format('woff'),
        /* Modern Browsers */ url('../../fonts/open-sans-v17-latin-regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('../../fonts/open-sans-v17-latin-regular.svg#OpenSans')
            format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../fonts/open-sans-v17-latin-700.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../../fonts/open-sans-v17-latin-700.eot?#iefix')
            format('embedded-opentype'),
        url('../../fonts/open-sans-v17-latin-700.woff2') format('woff2'),
        url('../../fonts/open-sans-v17-latin-700.woff') format('woff'),
        url('../../fonts/open-sans-v17-latin-700.ttf') format('truetype'),
        url('../../fonts/open-sans-v17-latin-700.svg#OpenSans') format('svg');
}

@import 'cads-iconfont';

.cads-icon_close:before {
    @extend .cads-icon_plus;

    display: inline-block;
    transform: rotate(45deg);
}
