@import '../1-settings/spacing-sizing';

$cads-grid-columns: 12 !default;
$cads-grid-breakpoint-gutters: (
  // 16px
  sm: $cads-spacing-4,
  // 32px
  md: $cads-spacing-6,
  // 32px
  lg: $cads-spacing-6
) !default;
$cads-nav-breakpoint-gutters: (
  // 0px
  sm: $cads-spacing-2,
  // 16px
  md: $cads-spacing-5,
  // 16px
  lg: $cads-spacing-6
) !default;
$cads-container-max-widths: (
  lg: $cads-max-content-size,
) !default;
