$cads-max-content-size: 1200px;

$cads-spacing-0: 0; // 0px
$cads-spacing-1: 0.25em; // 4px
$cads-spacing-2: 0.5em; // 8px
$cads-spacing-3: 0.75em; // 12px
$cads-spacing-4: 1em; // 16px
$cads-spacing-5: 1.5em; // 24px
$cads-spacing-6: 2em; // 32px
$cads-spacing-7: 2.5em; // 40px

$cads-spacers: (
    (
        0: 0,
        1: $cads-spacing-1,
        2: $cads-spacing-2,
        3: $cads-spacing-3,
        4: $cads-spacing-4,
        5: $cads-spacing-5,
        6: $cads-spacing-6,
        7: $cads-spacing-7
    )
);
