$cads-max-content-size: 1090px;
$cads-spacing-1: 0.25rem; // 4px
$cads-spacing-2: 0.5rem; // 8px
$cads-spacing-3: 0.75rem; // 12px
$cads-spacing-4: 1rem; // 16px
$cads-spacing-5: 1.5rem; // 24px
$cads-spacing-6: 2rem; // 32px
$cads-spacing-7: 2.5rem; // 40px

$cads-interactive-target-size: 44px;
