---
title: Adviser
---
<%= render(CitizensAdviceComponents::TargetedContent.new(type: :adviser,
  title: "Students or self-sufficient people",
  id: "targeted-content-adviser")) do %>
  <p>You should apply to the EU Settlement Scheme if both:</p>
  <ul>
    <li>you’re in the UK by 31 December 2020</li>
    <li>you have family in the UK from the EU, EEA or Switzerland</li>
  </ul>
  <p>You need to apply to the scheme even if you have a permanent residence card as it will not be valid after 31 December 2020</p>
<% end %>
