<%= form_with model: @person, url: request.path do |f| %>
  <div id="default_text_field">
    <%= f.cads_text_field :first_name %>
  </div>

  <div id="text_field_with_width">
    <%= f.cads_text_field :first_name, width: :four_chars %>
  </div>

  <div id="text_field_with_additional_attributes">
    <%= f.cads_text_field :first_name, additional_attributes: { "data-example": "custom-attribute" } %>
  </div>
<% end %>
