// This file loads just the design system components for use in isolated iframes
// We use this when we need a clean base with no theme overrides
@import "@citizensadvice/design-system/scss/rails";

body {
  margin: 1em;
}

// Unset default margin for specific examples
body.component-example-header,
body.component-example-breadcrumbs,
body.component-example-navigation {
  margin: 0;
}

// Grid examples
.grid-example {
  padding: $cads-spacing-4;
  background-color: $cads-palette__light-grey;
}
