- body = '<h3>This is the callout title</h3><p>The important callout should be used for any important snippet of text that has serious and/or legal implications if the client does not follow the advice.</p>'
= render partial: "@citizensadvice/design-system/haml/callout", locals: { notice: { 'type' => 'adviser', 'body' => body, 'title' => "This is the title of the callout" } }
