@mixin cads-transition-animation($properties...) {
  @if length($properties) == 0 {
    $properties: background, border;
  }

  /* stylelint-disable property-disallowed-list */
  transition-property: $properties;
  transition-duration: $cads-animation-speed;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none !important;
  }
}
