@use 'sass:list';
@use '../1-settings/animation' as animation-settings;

@mixin cads-transition-animation($properties...) {
  @if list.length($properties) == 0 {
    $properties: background, border;
  }

  /* stylelint-disable property-disallowed-list */
  transition-property: $properties;
  transition-duration: animation-settings.$cads-animation-speed;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none !important;
  }
}
