// TODO work out what the various states in conjuction with the
// colour language and create the appropriate mixins for the various classes
// or maybe create classes to do this...?
@mixin cads-interactive-element-bg() {
    @include cads-transition-animation(background-color);
}

@mixin cads-interactive-element($hasBg: true) {
    font-size: 1em;
    padding: calc(1em - 1px) 1em;
    display: inline-block;
    outline: none;
    box-shadow: none;
    border: 1px solid;
    border-color: none;

    @if ($hasBg) {
        @include cads-interactive-element-bg();
    }
}
