@use 'sass:math';
@use '../1-settings/spacing-sizing' as sizing-settings;
@use '../1-settings/typography' as typography-settings;

// Stop the container from going over the given size,
// useful for header/footer that may sit outside a grid
// (that is restricted in width)
@mixin cads-restrict-content-width(
  $size: sizing-settings.$cads-max-content-size
) {
  margin-left: auto;
  margin-right: auto;
  max-width: $size;
}

@function cads-rem($pixels) {
  @return #{math.div($pixels, typography-settings.$cads-font-size)}rem;
}

@function cads-rem-to-px($rem) {
  @return (math.div($rem, 1rem)) * typography-settings.$cads-font-size;
}
