// Stop the container from going over the given size, useful for header/footer
// that may sit outside a grid (that is restricted in width)
@mixin cads-restrict-content-width($size: $cads-max-content-size) {
    margin-left: auto;
    margin-right: auto;
    max-width: $size;
}

@function em($pixels) {
    @return #{$pixels/$cads-font-size}em;
}

@function em-to-px($em) {
    @return ($em / 1em) * $cads-font-size;
}

@function rem-to-px($rem) {
    @return ($rem / 1rem) * $cads-font-size;
}
