/*
    Use this mixin to add a margin to the top of a heading that is placed
    directly after other text. Done as a mixin so that we can easily
    update the list of elements that we want to check against.
*/
@mixin cads-adjacent-heading-margin($m) {
  h2 + &,
  h3 + &,
  h4 + &,
  p + &,
  ul + &,
  img + &,
  details + &,
  table + &,
  .cads-callout + & {
    margin-top: $m;
  }
}

@mixin cads-paragraph() {
  font-size: 1.125rem;
  line-height: 1.5rem; // Line-height remains the same
  font-weight: $cads-font-weight__regular;
  margin: 0 0 $cads-spacing-4 0;

  @include cads-media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

@mixin cads-paragraph-s() {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: $cads-font-weight__regular;
  margin: 0 0 $cads-spacing-3 0;

  @include cads-media-breakpoint-down(sm) {
    font-size: 0.875rem;
  }
}
