@use '../2-tools/breakpoints' as breakpoints;

@mixin cads-typographic-scale-text() {
  font-size: 1.125rem;
  line-height: 1.75rem;

  @include breakpoints.cads-media-breakpoint-down(sm) {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

@mixin cads-typographic-scale-text-small() {
  font-size: 1rem;
  line-height: 1.625rem;

  @include breakpoints.cads-media-breakpoint-down(sm) {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

// Use this mixin to add a margin to the top of a heading that is placed
// directly after other text. Done as a mixin so that we can easily
// update the list of elements that we want to check against.
@mixin cads-adjacent-heading-margin($m) {
  .cads-prose h2 + &,
  .cads-prose h3 + &,
  .cads-prose h4 + &,
  .cads-prose p + &,
  .cads-prose ul + &,
  .cads-prose img + &,
  .cads-prose table + &,
  .cads-prose .cads-callout + &,
  .cads-prose .cads-targeted-content + & {
    margin-top: $m;
  }
}
