@use 'sass:math';

// ============================================================================
// Forms: Radio groups
// ============================================================================
// Based on https://github.com/alphagov/govuk-frontend/blob/master/src/govuk/components/radios/_index.scss

$cads-small-radios-size: 24px;
$cads-radio-selected-size: 0.625rem;
.cads-form-group--radio {
  .cads-form-group__label {
    // (  ) Radio ring
    &::before {
      border-radius: 50%;
    }

    //  •  Radio button
    //
    // We create the 'button' entirely out of 'border' so that they remain
    // 'filled' even when colours are overridden in the browser.
    &::after {
      content: '';
      position: absolute;
      top: $cads-radio-selected-size;
      left: $cads-radio-selected-size;
      width: 0;
      height: 0;
      border: $cads-radio-selected-size solid currentColor;
      border-radius: 50%;
      opacity: 0;
      background: currentcolor;
    }
  }
}

//
// Modifier: inline
//
.cads-radio-group--inline {
  .cads-form-group__item {
    display: inline-block;
    margin-right: $cads-spacing-5;
    margin-bottom: 0;
  }
}

//
// Modifier: small
//
.cads-radio-group--small {
  $input-offset: math.div(
    ($cads-interactive-target-size - $cads-small-radios-size),
    2
  );
  $label-offset: $cads-interactive-target-size - $input-offset;

  .cads-form-group__item {
    margin-bottom: 0;
  }

  // Shift the touch target into the left margin so that the visible edge of
  // the control is aligned
  //
  //   ┆Which colour is your favourite?
  //  ┌┆───┐
  //  │┆() │ Purple
  //  └┆▲──┘
  //  ▲┆└─ Radio pseudo element, aligned with margin
  //  └─── Touch target (invisible input), shifted into the margin
  .cads-form-group__input {
    margin-left: math.div($cads-small-radios-size, 3) * -1;
  }

  .cads-form-group__label {
    // optically align radio labels with controls
    padding-left: 0;
    padding-top: cads-rem(8px);
  }

  // ( ) Radio ring
  //
  // Reduce the size of the control [1],
  // vertically centering it within the touch target [2]
  .cads-form-group__label::before {
    top: $input-offset - $cads-border-width-medium; // 2
    width: $cads-small-radios-size; // 1
    height: $cads-small-radios-size; // 1
  }

  //  •  Radio button
  //
  // Reduce the size of the 'button' and center it within the ring
  .cads-form-group__label::after {
    top: 14px;
    left: 6px;
    border-width: 6px;
  }
}
