// ============================================================================
// Forms: Textareas
// ============================================================================

/** @define textarea */
.cads-textarea {
  @include cads-interactive-element();

  color: inherit;
  display: block;
  width: 100%;
  min-height: 40px;
  padding: $cads-spacing-2;
  border-radius: 0;
  -webkit-appearance: none;
  // Limit resizing to vertical
  resize: vertical;
  line-height: 1.625rem;

  @include cads-media-breakpoint-up(md) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
