// ============================================================================
// Forms: Textareas
// ============================================================================

/** @define textarea */
.cads-textarea {
  @include cads-interactive-element;

  color: inherit;
  display: block;
  width: 100%;
  min-height: 40px;
  padding: $cads-spacing-2;
  border-radius: 0;
  appearance: none;

  // Limit resizing to vertical
  resize: vertical;
  line-height: 1.625rem;

  @include cads-media-breakpoint-up(md) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

/** @define character-count */
.cads-character-count {
  margin-top: $cads-spacing-2;
  color: $cads-palette__dark-grey;
  text-align: right;

  &[data-character-count-state="invalid"] {
    color: $cads-language__warning-colour;
    font-weight: $cads-font-weight__bold;
  }
}
