%table
  %thead
    %tr
      %th
        Component class
      %th
        Small
      %th
        Large
  %tbody
    %tr
      %td
        ArrowDown
      %td
        = render CitizensAdviceComponents::Icons::ArrowDown.new(size: :small)
      %td
        = render CitizensAdviceComponents::Icons::ArrowDown.new(size: :large)
