.cads-grid-container
  .cads-grid-row
    .cads-grid-col-8
      %table.cads-table
        %thead
          %tr
            %th
              Component class
            %th
              Toggle
            %th 
              Icon
        %tbody
          %tr
            %td
              PlusMinus
            %td
              %button
                Toggle minus
            %td
              = render CitizensAdviceComponents::Icons::PlusMinus.new(size: :large)

%script
  :plain
    var button = document.querySelector('button');
    button.addEventListener('click', function() {
      var icon = document.querySelector('.cads-icon');
      icon.classList.toggle('show-minus')
    })