%footer
  .cads-grid-container
    .cads-grid-row
      .cads-grid-col-lg-3
        %h3 Advice
        %ul
          %li
            %a{:href => "/benefits"} Benefits
          %li
            %a{:href => "#"} Work
          %li
            %a{:href => "#"} Debt and Money
          %li
            %a{:href => "#"} Consumer
          %li
            %a{:href => "#"} Family
          %li
            %a{:href => "#"} Housing
          %li
            %a{:href => "#"} Law and courts
          %li
            %a{:href => "#"} Immigration
          %li
            %a{:href => "#"} Health
      .cads-grid-col-lg-3
        %h3 Resources and tools
        %ul
          %li
            %a{:href => "#"} Advisor resources
          %li
            %a{:href => "#"} Education resources
          %li
            %a{:href => "#"} Accessibility
          %li
            %a{:href => "#"} Site search
          %li
            %a{:href => "#"} A-Z of advice
      .cads-grid-col-lg-3
        %h3 More from us
        %ul
          %li
            %a{:href => "#"} About us
          %li
            %a{:href => "#"} Annual reports
          %li
            %a{:href => "#"} Contact us
          %li
            %a{:href => "#"} Complaints
          %li
            %a{:href => "#"} Media
          %li
            %a{:href => "#"} Policy reseach
          %li
            %a{:href => "#"} Support us
          %li
            %a{:href => "#"} Volunteering
          %li
            %a{:href => "#"} Jobs
      .cads-grid-col-lg-3
        %h3 About Citizens Advice
        %ul
          %li
            %a{:href => "#"} How we provide advice
          %li
            %a{:href => "#"} The difference we make
          %li
            %a{:href => "#"} Support us
          %li
            %a{:href => "#"} How Citizens Advice works
          %li
            %a{:href => "#"} Disclaimer and Copyright
          %li
            %a{:href => "#"} Privacy and cookies

    .cads-footer__company-info
      = link_to image_tag("/images/ca-logo_100px.svg", height: "75", width: "75"), root_path
      %div
        Copyright ©2020 Citizens Advice. All rights reserved.
        %br
        Citizens Advice is an operating name of the National Association of Citizens Advice Bureaux. Registered charity number 279057.
        VAT number 726 0202 76. Company limited by guarantee. Registered number 01436945 England.
        Registered office: Citizens Advice, 3rd Floor North, 200 Aldersgate, London, EC1A 4HD
