- input = { "name" => "example-textarea", "label" => "Example textarea", "hint" => "This is the hint for the textarea", "optional" => true, "error_message" => "This is an error messsage", "has_error" => true }
= render partial: "@citizensadvice/design-system/haml/textarea", locals: { input: input }
