- input = { "name" => "example-textarea", "label" => "Example textarea", "hint" => "This is the hint for the textarea" }
= render partial: "@citizensadvice/design-system/haml/textarea", locals: { input: input }