---
title: Responsive grid
show_source: false
iframe: true
---
<div class="cads-grid-container">
  <div class="cads-grid-row">
    <div class="cads-grid-col-lg-8">
      <div class="grid-example">I vary based on breakpoint</div>
    </div>
  </div>
</div>
