---
title: Default
iframe: false
show_source: false
---

<p class="cads-hide">completely hidden text</p>
<p class="cads-invisible">mostly hidden text</p>
<p class="cads-sr-only">Only seen by screen readers</p>
<p aria-hidden="true">
  This text can be seen, but won't be read by a screen reader.
</p>
