<%= render CitizensAdviceComponents::PageContent.new do |c| %>
  <% c.with_main do %>
    <h1 class="cads-page-title"><%= t("global.title") %></h1>
    <div class="cads-prose">
      <% navigation_sections.each do |section| %>
        <h2><%= link_to section[:title], section[:url] %></h2>
        <p><%= section[:description] %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
