button,
.cads-button {
    @include cads-interactive-element();

    font-size: 1em;
    padding: calc(1em - 1px) 1em;
    display: inline-block;
    cursor: pointer;

    &,
    &__primary {
        background-color: $cads-language__primary-button-colour;
        color: $cads-palette__white;
        border-color: $cads-language__primary-button-colour;

        &:hover {
            color: $cads-palette__white;
            background-color: $cads-language__primary-button-hover-colour;
            border-color: $cads-language__primary-button-hover-colour;
        }
    }

    &__secondary {
        background-color: $cads-palette__white;
        color: $cads-palette__black;

        &:hover {
            color: $cads-palette__black;
            background-color: $cads-language__secondary-button-hover-colour;
        }
    }

    &:focus,
    &__primary:focus,
    &__secondary:focus {
        color: $cads-language__focus-text-colour;
        border-color: $cads-language__focus-border-colour;
        background-color: $cads-language__focus-colour;
        box-shadow: none;
    }
}
