/* stylelint-disable no-descending-specificity */

/**
 * Buttons
 * Based on: https://github.com/nhsuk/nhsuk-frontend/blob/master/packages/components/button/_button.scss and
 *   https://github.com/alphagov/govuk-frontend/blob/master/src/govuk/components/button/_index.scss
 */
$button-shadow-size: 4px;

@mixin cads-button-defaults() {
  @include cads-transition-animation(background);

  -webkit-appearance: none;
  box-sizing: border-box;
  width: auto;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-block;
  padding: (cads-rem-to-px($cads-spacing-3) - 1px) $cads-spacing-3;
  margin: 0 0 $cads-spacing-5 0;
  font-weight: $cads-font-weight__bold;
  font-size: 1.125rem;

  @include cads-media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

/**
 * Shared button styles
 */
.cads-button,
.cads-button__primary,
.cads-button__secondary,
.cads-button__tertiary {
  @include cads-button-defaults();

  border-radius: $cads-border-radius;
  border: solid $cads-border-width-medium $cads-language__primary-button-colour;
  border-bottom: none; // Remove bottom border as box-shadow replaces it
  box-shadow: 0 $button-shadow-size 0 0
    $cads-language__primary-button-hover-colour;

  &:focus {
    outline: none;
    color: $cads-language__focus-text-colour;
    border-color: $cads-language__focus-border-colour;
    background-color: $cads-language__focus-colour;
    box-shadow: 0 $button-shadow-size 0 0 $cads-language__focus-border-colour;
  }

  &:hover {
    box-shadow: 0 $button-shadow-size 0 0
      $cads-language__primary-button-hover-colour;
  }

  &:active {
    transform: translate(0, $button-shadow-size - $cads-border-width-medium);
    box-shadow: 0 $cads-border-width-medium 0 0
      $cads-language__primary-button-hover-colour;
  }

  &:hover,
  &:active {
    border-color: $cads-language__primary-button-hover-colour;
  }

  .cads-button__icon-left,
  .cads-button__icon-right {
    // Optically align icons in buttons
    position: relative;
    top: 2px;
  }
}

/**
 * Primary buttons
 */
.cads-button,
.cads-button__primary {
  color: $cads-palette__white;
  background-color: $cads-language__primary-button-colour;

  &:hover,
  &:active {
    color: $cads-palette__white;
    background-color: $cads-language__primary-button-hover-colour;
  }
}

/**
 * Secondary buttons
 */
.cads-button__secondary {
  color: $cads-language__primary-button-colour;
  background-color: $cads-palette__white;
  box-shadow: 0 $button-shadow-size 0 0 $cads-language__primary-button-colour;

  &:hover,
  &:active {
    color: $cads-language__primary-button-hover-colour;
    background-color: $cads-language__secondary-button-hover-colour;
  }
}

/**
 * Tertiary buttons
 */
.cads-button__tertiary {
  font-weight: $cads-font-weight__regular;
  color: $cads-language__primary-button-colour;
  background-color: $cads-palette__white;
  border: solid $cads-border-width-small $cads-language__primary-button-colour;
  box-shadow: none;

  &:focus {
    box-shadow: 0 ($button-shadow-size - $cads-border-width-small) 0 0
      $cads-language__focus-border-colour;
  }

  &:hover,
  &:active {
    background-color: $cads-language__secondary-button-hover-colour;
    color: $cads-language__primary-button-hover-colour;
    box-shadow: none;
  }

  &:active {
    transform: none;
  }
}

%cads-button__tertiary--dark {
  background-color: $cads-language__brand-primary;
  color: $cads-language__brand-primary-contrast;
  border-color: $cads-language__brand-primary-contrast;

  &:hover,
  &:active {
    background-color: $cads-language__tertiary-button-dark-hover-background-colour;
    color: $cads-language__tertiary-button-dark-hover-colour;
    border-color: $cads-language__tertiary-button-dark-hover-border-colour;
  }

  &:focus {
    color: $cads-language__focus-text-colour;
    border-color: $cads-language__focus-border-colour;
    background-color: $cads-language__focus-colour;
    box-shadow: 0 $button-shadow-size 0 0 $cads-language__focus-border-colour;
  }
}
