input,
.cads-input {
    @include cads-interactive-element();

    min-width: 1px;
    font-size: 1em;
    padding: calc(1em - 1px) 1em;
    margin: 0 0 $cads-spacing-4 0;
    display: inline-block;

    &::placeholder {
        display: none;
    }
}

.cads-radio-button {
    display: block;
    position: relative;
    padding: 0 0 0 calc(#{$cads-interactive-target-size} + #{$cads-spacing-2});
    margin-bottom: $cads-spacing-4;
    line-height: $cads-interactive-target-size;
    height: $cads-interactive-target-size;
    cursor: pointer;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .cads-radio-button-checkmark {
        @include cads-interactive-element();

        position: absolute;
        top: 0;
        left: 0;
        height: $cads-interactive-target-size;
        width: $cads-interactive-target-size;
        border-radius: 50%;

        &::after {
            content: '';
            position: absolute;
            display: none;
            top: 10px;
            left: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $cads-language__input-border-colour;

            @include cads-transition-animation();
        }
    }

    input:checked ~ .cads-radio-button-checkmark {
        border-color: $cads-language__input-border-colour;

        &::after {
            display: block;
        }
    }

    &:hover input ~ .cads-radio-button-checkmark {
        border-color: $cads-language__focus-border-colour;

        &::after {
            background-color: $cads-language__focus-border-colour;
        }
    }

    input:focus ~ .cads-radio-button-checkmark {
        border-color: $cads-language__focus-border-colour;
        // We need to use box-shadow instead of outline as outline does not have a radius
        box-shadow: 0 0 0 $cads-border-width-medium $cads-language__focus-colour;

        &::after {
            background-color: $cads-language__focus-border-colour;
        }
    }
}

.cads-radio-group {
    border: none;
    padding: 0;
    margin: 0;

    &.cads-radio-group__small {
        .cads-radio-button {
            display: inline-block;
            margin-right: $cads-spacing-4;
            padding: 10px 0 10px
                calc(
                    #{$cads-interactive-target-size__small} + #{$cads-spacing-2}
                );
            line-height: $cads-interactive-target-size__small;
            height: $cads-interactive-target-size;

            .cads-radio-button-checkmark {
                height: $cads-interactive-target-size__small;
                width: $cads-interactive-target-size__small;
                top: 10px;

                &::after {
                    width: 10px;
                    height: 10px;
                    top: 5px;
                    left: 5px;
                }
            }
        }
    }
}

.cads-form-optional {
    .cads-form-label::after {
        content: ' (optional)';
        color: $cads-language__secondary-text-colour;
        font-weight: $cads-font-weight__regular;

        .cads-lang-cy & {
            content: ' (dewisol)';
        }

        .cads-lang-gd & {
            content: ' (roghainneil)';
        }
    }
}

.cads-form__hint {
    color: $cads-language__secondary-text-colour;
    display: block;
}

// Keep the error-marker at the bottom of this file
.cads-form-error-marker {
    display: none;
}

.cads-form-error {
    position: relative;

    .cads-form-error-marker {
        display: block;
        position: absolute;
        height: calc(100% - (2 * #{$cads-spacing-4}) - #{$cads-spacing-2});
        width: 0;
        border: $cads-border-width-small solid $cads-language__warning-colour;
        padding: 0;
        left: 0;
        top: ($cads-spacing-4 + $cads-spacing-2);

        &::before {
            position: absolute;
            content: '!';
            font-weight: bold;
            color: $cads-palette__white;
            background-color: $cads-language__warning-colour;
            border-radius: 50%;
            width: $cads-spacing-4;
            height: $cads-spacing-4;
            line-height: $cads-spacing-4;
            font-size: 0.8em;
            text-align: center;
            left: -$cads-spacing-4/2;
            top: calc(2px - #{$cads-spacing-4} - #{$cads-spacing-2});
        }
    }

    &.cads-input-group,
    &.cads-radio-group {
        padding-left: $cads-spacing-4 !important;
    }
}
