.cads-form-error-marker {
    display: none;
}

.cads-form__error-message {
    display: none;
    color: $cads-language__warning-colour;
}

.cads-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    margin: 0 0 $cads-spacing-5 0;

    &.cads-form-error {
        .cads-form__error-message {
            display: block;
        }

        .cads-form-error-marker {
            display: block;
            width: 0;
            border: $cads-border-width-small solid
                $cads-language__warning-colour;
            padding: 0;
            position: relative;

            &::before {
                content: '';
                background-image: url("data:image/svg+xml, %3Csvg width='16' height='16' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8125 6C11.8125 9.21087 9.20993 11.8125 6 11.8125C2.79007 11.8125 0.1875 9.21087 0.1875 6C0.1875 2.79101 2.79007 0.1875 6 0.1875C9.20993 0.1875 11.8125 2.79101 11.8125 6ZM6 7.17188C5.40457 7.17188 4.92188 7.65457 4.92188 8.25C4.92188 8.84543 5.40457 9.32812 6 9.32812C6.59543 9.32812 7.07812 8.84543 7.07812 8.25C7.07812 7.65457 6.59543 7.17188 6 7.17188ZM4.97641 3.29658L5.15027 6.48408C5.15841 6.63323 5.28173 6.75 5.4311 6.75H6.5689C6.71827 6.75 6.84159 6.63323 6.84973 6.48408L7.02359 3.29658C7.03238 3.13547 6.9041 3 6.74276 3H5.25722C5.09587 3 4.96762 3.13547 4.97641 3.29658Z' fill='%23df3034'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center;
                width: 22px;
                height: 29px;
                background-color: $cads-palette__white;
                display: block;
                position: absolute;
                top: -2px;
                left: -11px;
            }

            &::after {
                content: '';
                position: absolute;
                width: 2px;
                height: $cads-spacing-4;
                bottom: -1px;
                left: -1px;
                background-color: $cads-palette__white;
            }
        }

        .cads-form-content {
            padding-left: $cads-spacing-5 !important;
        }
    }
}

input,
.cads-input,
textarea,
.cads-textarea {
    @include cads-interactive-element();

    min-width: 1px;
    padding: round(rem-to-px(1rem) - 9px) 1rem;
    margin: 0 0 $cads-spacing-4 0;
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.5rem; // Line-height remains the same

    @include cads-media-breakpoint-down(sm) {
        font-size: 1rem;
    }

    &::placeholder {
        display: none;
    }
}

textarea,
.cads-textarea {
    width: 100%;
}

.cads-radio-button {
    display: block;
    position: relative;
    padding: 0 0 0
        round($cads-interactive-target-size + rem-to-px($cads-spacing-3));
    margin-bottom: $cads-spacing-4;
    line-height: $cads-interactive-target-size + 2px;
    height: $cads-interactive-target-size;
    cursor: pointer;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .cads-radio-button-checkmark {
        @include cads-interactive-element();
        @include cads-transition-animation(none);

        position: absolute;
        top: 0;
        left: 0;
        height: $cads-interactive-target-size;
        width: $cads-interactive-target-size;
        border-radius: 50%;

        &::after {
            content: '';
            position: absolute;
            display: none;
            top: 10px;
            left: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $cads-language__input-border-colour;
        }
    }

    input:checked ~ .cads-radio-button-checkmark {
        border-color: $cads-language__input-border-colour;

        &::after {
            display: block;
            left: 10px;
            top: 10px;
        }
    }

    &:hover input ~ .cads-radio-button-checkmark {
        border-color: $cads-language__focus-border-colour;

        &::after {
            background-color: $cads-language__focus-border-colour;
        }
    }

    input:focus ~ .cads-radio-button-checkmark {
        border-color: $cads-language__focus-border-colour;
        // We need to use box-shadow instead of outline as outline does not have a radius
        box-shadow: 0 0 0 $cads-border-width-medium $cads-language__focus-colour;

        &::after {
            background-color: $cads-language__focus-border-colour;
        }
    }
}

.cads-radio-group {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1.125rem;

    &.cads-radio-group__small {
        .cads-radio-button {
            display: inline-block;
            margin-right: $cads-spacing-5;
            padding: 10px 0 10px
                calc(
                    #{$cads-interactive-target-size__small} + #{$cads-spacing-2}
                );
            line-height: $cads-interactive-target-size__small + 3px;
            height: $cads-interactive-target-size;

            .cads-radio-button-checkmark {
                height: $cads-interactive-target-size__small;
                width: $cads-interactive-target-size__small;
                top: 10px;

                &::after {
                    width: 10px;
                    height: 10px;
                    top: 5px;
                    left: 5px;
                }
            }

            input:checked ~ .cads-radio-button-checkmark {
                &::after {
                    left: 5px;
                    top: 5px;
                }
            }
        }
    }
}

.cads-form-optional {
    .cads-form-label::after {
        content: ' (optional)';
        color: $cads-language__secondary-text-colour;
        font-weight: $cads-font-weight__regular;

        .cads-lang-cy & {
            content: ' (dewisol)';
        }

        .cads-lang-gd & {
            content: ' (roghainneil)';
        }
    }
}

.cads-form__hint {
    color: $cads-language__secondary-text-colour;
    display: block;
}
