/**
 * Links and link-buttons
 */
a,
.cads-hyperlink,
.cads-linkbutton,
.cads-linkbutton__regular {
  color: $cads-language__link-colour;
  text-decoration: underline;
  outline: none;

  &:visited {
    color: $cads-language__link-visited-colour;
  }

  &:hover {
    color: $cads-language__link-hover-colour;
    background-color: $cads-language__hover-background-colour;
    cursor: pointer;
  }

  &:active {
    color: $cads-palette__black;
  }

  &:focus {
    color: $cads-palette__black;
    background-color: $cads-language__focus-colour;
    text-decoration: none;
    border-bottom: 2px solid $cads-palette__black;
  }
}

// Reset button styles when styled like a link
%cads-linkbutton-base {
  -webkit-appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  box-shadow: none;
  line-height: normal;

  &:focus {
    margin-bottom: -2px; //account for bottom border
  }
}

button.cads-linkbutton {
  @extend %cads-linkbutton-base;

  font-weight: $cads-font-weight__bold;
}

button.cads-linkbutton__regular {
  @extend %cads-linkbutton-base;

  cursor: pointer;
  font-weight: $cads-font-weight__regular;
}
