li,
.cads-list-item {
    line-height: 1.5em;
}

ol,
.cads-list-ordered {
    padding: 0 0 0 1.25em;
    margin: 0 0 $cads-spacing-4 0;
}

ul,
.cads-list-unordered {
    list-style: none;
    padding: 0;
    margin: 0 0 $cads-spacing-4 0;

    &.cads-list-unordered__inline {
        li,
        .cads-list-item {
            display: inline-block;
            margin-right: 1em;
        }

        // Reverse margins if this is right aligned
        .cads-align-right & {
            li,
            .cads-list-item {
                margin-right: 0;
                margin-left: 1em;
            }
        }
    }
}
