// ============================================================================
// Lists
// ============================================================================

@mixin cads-reset-list-style() {
  padding: 0;
  margin: 0;
  list-style: none;
}

%cads-list-item {
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0 0 $cads-spacing-2;

  @include cads-media-breakpoint-down(sm) {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

%cads-list-ordered {
  padding: 0 0 0 $cads-spacing-5;
  margin: 0 0 $cads-spacing-5;

  li {
    @extend %cads-list-item;
  }
}

%cads-list-unordered {
  padding: 0 0 0 $cads-spacing-4;
  margin: 0 0 $cads-spacing-5;
  list-style-type: disc;

  li {
    @extend %cads-list-item;
  }
}

%cads-list-unordered-inline {
  @include cads-reset-list-style;

  margin-bottom: $cads-spacing-5;

  li {
    display: inline-block;
    margin-right: 1rem;
  }
}

%cads-list-no-bullet {
  @include cads-reset-list-style;

  margin-bottom: $cads-spacing-5;

  li {
    @extend %cads-list-item;
  }
}

.cads-list-no-bullet {
  @extend %cads-list-no-bullet;
}
