hr,
.cads-separator {
    padding: 0;
    width: 100%;
    display: block;
    margin: $cads-spacing-3 0;

    @include cads-border(
        t,
        $cads-border-width-small,
        0,
        $cads-language__border-colour
    );
}

.cads-main-content {
    @extend .cads-max-content-width;

    padding-top: $cads-spacing-5;
    padding-bottom: 2 * $cads-spacing-7;

    h1 {
        margin-top: $cads-spacing-5;
    }
}
