hr,
.cads-separator {
  padding: 0;
  width: 100%;
  display: block;
  margin: $cads-spacing-3 0;
  border: none;
  border-top: solid $cads-border-width-small $cads-language__border-colour;
}

.cads-asset-type {
  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }
}
