.cads-table-container {
  width: 100%;
  overflow: auto;
}

.cads-table {
  text-align: left;
  border-spacing: 0;
  width: 100%;
  margin-bottom: $cads-spacing-4;
  background-color: $cads-palette__white;
  border: solid $cads-border-width-small $cads-color-input-border;
  border-radius: $cads-border-radius-large;
  border-bottom: none;

  caption,
  .cads-table-caption {
    @extend %cads-h4;

    margin-bottom: $cads-spacing-2;
    text-align: left;

    @include cads-media-breakpoint-only(sm) {
      margin-bottom: 0;
    }
  }

  th,
  td {
    padding: $cads-spacing-2;
    font-weight: $cads-font-weight__regular;
    border-bottom: solid $cads-border-width-small $cads-color-input-border;
  }

  tr:first-child th {
    @extend %cads-h4;

    padding: $cads-spacing-2;
    border-bottom: solid $cads-border-width-large $cads-color-brand-primary;
  }

  td::before {
    display: none;
  }

  .cads-table__th-heading {
    @extend %cads-h4;

    display: none;
  }

  @include cads-media-breakpoint-only(sm) {
    &--captioned {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    caption {
      background-color: $cads-palette__white;
      border: solid $cads-border-width-small $cads-color-input-border;
      border-top-left-radius: $cads-border-radius-large;
      border-top-right-radius: $cads-border-radius-large;
      border-bottom: $cads-border-width-large solid $cads-color-brand-primary;
      padding: $cads-spacing-2;
      margin: 0;
    }

    td {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      border: none;
    }

    .cads-table__th-heading {
      display: block;
      flex: 0 0 calc(50% - #{$cads-spacing-2});
      margin-right: $cads-spacing-2;
      margin-bottom: 0;
    }

    .cads-table__content {
      line-height: 1.5rem;
      display: block;
      flex: 0 0 calc(50% - #{$cads-spacing-2});
      margin-left: $cads-spacing-2;
    }

    thead {
      display: none;
    }

    tr td:last-child {
      border-bottom: solid $cads-border-width-small $cads-color-input-border;
    }

    td::before {
      display: inline;
      font-weight: bold;
      text-align: left;
    }
  }
}
