%cads-h1 {
  font-size: 2.5rem;
  line-height: 3.25rem;
  font-weight: $cads-font-weight__bold;
  color: $cads-font-colour__headings;
  margin: 0 0 $cads-spacing-7 0;
  letter-spacing: -0.3px;

  @include cads-media-breakpoint-down(sm) {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 0 $cads-spacing-5 0;
  }
}

%cads-h2 {
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: $cads-font-weight__bold;
  color: $cads-font-colour__headings;
  margin: 0 0 $cads-spacing-4 0;
  letter-spacing: -0.3px;

  @include cads-media-breakpoint-down(sm) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

%cads-h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: $cads-font-weight__bold;
  color: $cads-font-colour__headings;
  margin: 0 0 $cads-spacing-4 0;
  letter-spacing: -0.3px;

  @include cads-media-breakpoint-down(sm) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

%cads-h4 {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: $cads-font-weight__bold;
  color: $cads-font-colour__headings;
  margin: 0 0 $cads-spacing-4 0;

  @include cads-media-breakpoint-down(sm) {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

%cads-paragraph {
  @include cads-typographic-scale-text;

  font-weight: $cads-font-weight__regular;
  margin: 0 0 $cads-spacing-5 0;
}

%cads-paragraph-small {
  @include cads-typographic-scale-text-small;

  font-weight: $cads-font-weight__regular;
  margin: 0 0 $cads-spacing-5 0;
}

h2,
h3,
h4 {
  @include cads-adjacent-heading-margin($cads-spacing-7);
}

hr,
.cads-separator {
  padding: 0;
  width: 100%;
  display: block;
  margin: $cads-spacing-3 0;
  border: none;
  border-top: solid $cads-border-width-small $cads-language__border-colour;
}
