%h1 {
  font-size: 2.5rem;
  line-height: 1.2em; // Line-height is variable
  font-weight: $cads-font-weight__bold;
  color: $cads-font-colour__headings;
  margin: 0 0 $cads-spacing-7 0;

  @include cads-media-breakpoint-down(sm) {
    font-size: 2rem;
    margin: 0 0 $cads-spacing-5 0;
  }
}

%h2 {
  font-size: 2rem;
  line-height: 1.25em; // Line-height is variable
  font-weight: $cads-font-weight__bold;
  color: $cads-font-colour__headings;
  margin: 0 0 $cads-spacing-4 0;

  @include cads-media-breakpoint-down(sm) {
    font-size: 1.5rem;
    margin: 0 0 $cads-spacing-3 0;
  }
}

%h3 {
  font-size: 1.4rem;
  line-height: 1.25em; // Line-height is variable
  font-weight: $cads-font-weight__bold;
  color: $cads-font-colour__headings;
  margin: 0 0 $cads-spacing-3 0;

  @include cads-media-breakpoint-down(sm) {
    font-size: 1.25rem;
    margin: 0 0 $cads-spacing-3 0;
  }
}

%h4 {
  font-size: 1.125rem;
  line-height: 1.5rem; // Line-height remains the same
  font-weight: $cads-font-weight__bold;
  color: $cads-font-colour__headings;
  margin: 0;

  @include cads-media-breakpoint-down(sm) {
    font-size: 1rem;
    margin: 0;
  }
}

%p {
  font-size: 1.125rem;
  line-height: 1.5rem; // Line-height remains the same
  font-weight: $cads-font-weight__regular;
  margin: 0 0 $cads-spacing-4 0;
}

%paragraph--small {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: $cads-font-weight__regular;
  margin: 0 0 $cads-spacing-3 0;
}

%prose {
  h1 {
    @extend %h1;
  }

  h2 {
    @extend %h2;
  }

  h3 {
    @extend %h3;
  }

  h4 {
    @extend %h4;
  }

  p {
    @extend %p;
  }
}

.cads-prose {
  @extend %prose;
}

h2,
h3 {
  @include cads-adjacent-heading-margin($cads-spacing-6);
}
