h1,
.h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: $cads-font-weight__bold;
    color: $cads-font-colour__headings;
    margin: 0 0 $cads-spacing-7 0;

    @include cads-media-breakpoint-down(sm) {
        font-size: 2em;
        margin: 0 0 0.75em 0;
    }
}

h2,
.h2 {
    font-size: 2em;
    line-height: 1.25em;
    font-weight: $cads-font-weight__bold;
    color: $cads-font-colour__headings;
    margin: 0 0 0.75em 0;

    @include cads-adjacent-heading-margin(2em);

    @include cads-media-breakpoint-down(sm) {
        font-size: 1.5em;
        margin: 0 0 0.5em 0;
    }
}

h3,
.h3 {
    font-size: 1.4em;
    line-height: 1.25em;
    font-weight: $cads-font-weight__bold;
    color: $cads-font-colour__headings;
    margin: 0 0 0.75em 0;

    @include cads-adjacent-heading-margin(2em);

    @include cads-media-breakpoint-down(sm) {
        font-size: 1.25em;
        margin: 0 0 0.5em 0;
    }
}

h4,
.h4 {
    font-size: 1.125em;
    line-height: 1.5em;
    font-weight: $cads-font-weight__bold;
    color: $cads-font-colour__headings;
    margin: 0;

    @include cads-adjacent-heading-margin(2em);

    @include cads-media-breakpoint-down(sm) {
        font-size: 1em;
        margin: 0;
    }
}

p,
.paragraph {
    font-size: 1.125em;
    line-height: 1.5em;
    font-weight: $cads-font-weight__regular;
    margin: 0 0 1em 0;

    @include cads-media-breakpoint-down(sm) {
        font-size: 1em;
        margin: 0 0 1em 0;
    }
}

.paragraph-s {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: $cads-font-weight__regular;
    margin: 0 0 0.75em 0;

    @include cads-media-breakpoint-down(sm) {
        font-size: 0.875em;
        margin: 0 0 0.75em 0;
    }
}
