// Widths
$cads-border-width-medium: 1px !default;
$cads-border-width-large: 2px !default;

// Radii
$cads-border-radius-small: 2px !default;
$cads-border-radius-medium: 4px !default;
$cads-border-radius-large: 8px !default;
$cads-border-radius-pill: 96px !default;
$cads-border-radius-circle: 50% !default;
