$cads-palette__heritage-blue: #004291;
$cads-palette__heritage-blue-dark: #012760;
$cads-palette__blue-light: #f2f8ff;
$cads-palette__heritage-yellow: #ffd250;
$cads-palette__heritage-blue-40: #97a8cc;
$cads-palette__heritage-yellow-40: #fde5c4;
$cads-palette__purple: #a33e89;
$cads-palette__red: #df3034;
$cads-palette__red-light: #fae1e1;
$cads-palette__black: #161616;
$cads-palette__dark-grey: #4a4e4f;
$cads-palette__mid-grey: #8d9093;
$cads-palette__light-grey: #e5e5e5;
$cads-palette__white: #ffffff;

:export {
    /* prettier-ignore */
    palette: {
        heritageBlue: $cads-palette__heritage-blue;
        blueDark: $cads-palette__heritage-blue-dark;
        blueLight: $cads-palette__blue-light;
        heritageYellow: $cads-palette__heritage-yellow;
        red: $cads-palette__red;
        redLight: $cads-palette__red-light;
        purple: $cads-palette__purple;
        black: $cads-palette__black;
        darkGrey: $cads-palette__dark-grey;
        midGrey: $cads-palette__mid-grey;
        lightGrey: $cads-palette__light-grey;
        white: $cads-palette__white;
    }
}
