@import './colour-palette'; // This is needed for storybook

$cads-language__neutral-lighter: $cads-palette__black;
$cads-language__neutral-light: $cads-palette__grey;
$cads-language__neutral-mid: $cads-palette__grey;
$cads-language__neutral-dark: $cads-palette__grey;
$cads-language__neutral-darker: $cads-palette__grey;

$cads-language__wayfinding-action: $cads-palette__heritage-blue;
$cads-language__wayfinding-active: $cads-palette__heritage-blue;
$cads-language__wayfinding-inactive: $cads-palette__heritage-blue;
$cads-language__wayfinding-highlight: $cads-palette__heritage-blue;
$cads-language__wayfinding-focus: $cads-palette__heritage-blue;

$cads-language__navigation-forward: $cads-palette__heritage-yellow;
$cads-language__navigation-backwards: $cads-palette__heritage-yellow;
$cads-language__navigation-sideways: $cads-palette__heritage-yellow;

$cads-language__emotion-joy: $cads-palette__heritage-yellow;
$cads-language__emotion-positive: $cads-palette__heritage-yellow;
$cads-language__emotion-neutral: $cads-palette__heritage-yellow;
$cads-language__emotion-negative: $cads-palette__heritage-yellow;

$cads-language__volume-whisper: $cads-palette__heritage-yellow;
$cads-language__volume-lower: $cads-palette__heritage-yellow;
$cads-language__volume-normal: $cads-palette__heritage-yellow;
$cads-language__volume-raised: $cads-palette__heritage-yellow;
$cads-language__volume-shout: $cads-palette__heritage-yellow;

$cads-language__utility-danger: $cads-palette__heritage-yellow;
$cads-language__utility-success: $cads-palette__heritage-yellow;
$cads-language__utility-note: $cads-palette__heritage-yellow;
$cads-language__utility-warning: $cads-palette__heritage-yellow; // Design to confirm from palette

// The following map is only used to provide a loop for displaying the colours in Storybook.
:export {
    /* prettier-ignore */
    language: {
        neutralLighter: $cads-language__neutral-lighter;
        neutralLight: $cads-language__neutral-light;
        neutralMid: $cads-language__neutral-mid;
        neutralDark: $cads-language__neutral-dark;
        neutralDarker: $cads-language__neutral-darker;
        wayfindingAction: $cads-language__wayfinding-action;
        wayfindingActive: $cads-language__wayfinding-active;
        wayfindingInactive: $cads-language__wayfinding-inactive;
        wayfindingHighlight: $cads-language__wayfinding-highlight;
        wayfindingFocus: $cads-language__wayfinding-focus;
        navigationForward: $cads-language__navigation-forward;
        navigationBackwards: $cads-language__navigation-backwards;
        navigationSideways: $cads-language__navigation-sideways;
        emotionJoy: $cads-language__emotion-joy;
        emotionPositive: $cads-language__emotion-positive;
        emotionNeutral: $cads-language__emotion-neutral;
        emotionNegative: $cads-language__emotion-negative;
        volumeWhisper: $cads-language__volume-whisper;
        volumeLower: $cads-language__volume-lower;
        volumeNormal: $cads-language__volume-normal;
        volumeRaised: $cads-language__volume-raised;
        volumeShout: $cads-language__volume-shout;
        utilityDanger: $cads-language__utility-danger;
        utilitySuccess: $cads-language__utility-success;
        utilityNote: $cads-language__utility-note;
        utilityWarning: $cads-language__utility-warning;
    }
}
