$cads-spacing-0: 0rem; // 0px
$cads-spacing-1: 0.25rem; // 4px
$cads-spacing-2: 0.5rem; // 8px
$cads-spacing-3: 1rem; // 16px
$cads-spacing-4: 1.5rem; // 24px
$cads-spacing-5: 2rem; // 32px
$cads-spacing-6: 3rem; // 48px
