$cads-spacing-0: 0em; // 0px
$cads-spacing-1: 0.25em; // 4px
$cads-spacing-2: 0.5em; // 8px
$cads-spacing-3: 1em; // 16px
$cads-spacing-4: 1.5em; // 24px
$cads-spacing-5: 2em; // 32px
$cads-spacing-6: 3em; // 48px
