$cads-font-family: 'Open Sans', helvetica, 'helvetica neue', arial, sans-serif;
$cads-font-size: 16px;

$cads-font-weight__regular: 400;
$cads-font-weight__semi-bold: 600;
$cads-font-weight__bold: 700;
$cads-font-weight__extra-bold: 800;
