// ============================================================================
// Base styles
// ============================================================================

html,
body {
  height: 100%;
}

// https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1 1 auto;
}

img {
  border: 0;
  max-width: 100%;
}

/* Fluid images if you omit the `width` attribute. */
img:not([width]) {
  width: 100%;
}
