// ============================================================================
// Code styles
// ============================================================================

code {
  line-height: 1rem;
  margin: 0 2px;
  border-radius: $cads-border-radius;
  background-color: #f8f8f8;
  font-size: 1rem;
}

pre code {
  display: block;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  max-width: 100%;
  min-width: 100px;
  line-height: 1.5rem;
  background-color: $cads-palette__white;
}

.highlight {
  margin-bottom: $cads-spacing-6;
  border: $cads-border-width-small $cads-language__border-colour solid;
  padding: $cads-spacing-4;

  &--with-button {
    margin: 0;
  }

  button {
    font-family: $cads-font-family;
  }
  > .highlight {
    border: none;
    padding: 0;
  }
}
