// ============================================================================
// Code styles
// ============================================================================

code {
  line-height: 1;
  margin: 0 2px;
  padding: $cads-spacing-1 $cads-spacing-2;
  border-radius: $cads-border-radius;
  background-color: #f8f8f8;
}

pre code {
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 20px;
}
