// ============================================================================
// Component examples
// ============================================================================

.component-example {
  border: 1px solid $cads-language__border-colour;
  margin-bottom: $cads-spacing-6;
}
.component-example__links,
.component-example__source {
  padding: $cads-spacing-3 $cads-spacing-4;
}
.component-example__links {
  text-align: right;
  @include cads-typographic-scale-text-small();
}
.component-example__preview {
  border: solid $cads-language__border-colour;
  border-width: 1px 0;
  padding: $cads-spacing-4;
}
.component-example__iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 0;
  min-width: 230px;
  min-height: 60px;
  overflow: auto;
}
.component-example__source {
  .cads-disclosure {
    margin-bottom: $cads-spacing-4;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .cads-disclosure__toggle {
    @include cads-typographic-scale-text-small();
  }
}
