// ============================================================================
// Component examples
// ============================================================================

.component-example {
  border: 1px solid $cads-color-border;
  margin-bottom: $cads-spacing-6;
  padding: $cads-spacing-5;
}

.component-example__links {
  text-align: right;
  @include cads-typographic-scale-text-small();
}
.component-example__preview {
  border: none;
  border-width: 1px 0;
  padding: $cads-spacing-4 0;
}
.component-example__iframe {
  display: block;
  border: 0;
  width: 100%;
  min-height: 60px;
  overflow: auto;
}
.component-example__source {
  .cads-disclosure__toggle {
    @include cads-typographic-scale-text-small();
  }

  pre.highlight {
    margin-bottom: 0;
  }
}
