// ============================================================================
// Layout
// ============================================================================

.home-intro {
  padding: $cads-spacing-5 0;
}
.home-intro__title {
  @extend %cads-h1;
}

.page-index .cads-notice-banner {
  margin-top: $cads-spacing-5;
}

.sidebar {
  margin: $cads-spacing-4 0 $cads-spacing-7;
}

.text-list {
  margin-bottom: $cads-spacing-6;

  &__title {
    @extend %cads-h2;
  }

  &__links {
    @extend %cads-list-no-bullet;

    margin-bottom: $cads-spacing-6;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
