// ============================================================================
// Layout
// ============================================================================

.home-intro {
  padding: $cads-spacing-7 0;
  margin-bottom: $cads-spacing-7;
  border-bottom: $cads-border-width-small $cads-language__border-colour solid;

  .home-intro__title {
    @extend %cads-h1;

    margin: 0;
  }
}

.sidebar {
  margin: $cads-spacing-4 0 $cads-spacing-7;
}

.text-list {
  margin-bottom: $cads-spacing-6;

  &__title {
    @extend %cads-h2;
  }

  &__links {
    @extend %cads-list-no-bullet;

    margin-bottom: $cads-spacing-6;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
