// ============================================================================
// Docs theme settings
// ============================================================================

@import '../scss/1-settings/colour-palette';
@import '../scss/1-settings/colour-language';

$docs-palette__black: #000;
$docs-palette__black-tint: #161616;

// Header colours
$cads-header__background-colour: $docs-palette__black;

// Navigation colours
$cads-language__nav-background-colour: $docs-palette__black-tint;
$cads-language__nav-hover-background-colour: $cads-palette__mid-grey;
$cads-language__nav-hover-border-colour: $cads-palette__mid-grey;
$cads-language__nav-focus-colour: $cads-language__text-colour;

// Footer colours
$cads-footer__text-colour: $cads-palette__white;
$cads-footer__background-colour: $docs-palette__black;
