// ============================================================================
// Docs theme settings
// ============================================================================

@import '../scss/1-settings/colour-palette';

$cads-enable-external-link-icon: false !default;

$docs-palette-black: #000;
$docs-palette-black-tint: #161616;

// Header colours
$cads-color-header-background: $docs-palette-black;

// Navigation colours
$cads-color-nav-background: $docs-palette-black-tint;
$cads-color-nav-background-hover: $cads-palette__mid-grey;
$cads-color-nav-border-hover: $cads-palette__mid-grey;
$cads-color-nav-focus: $docs-palette-black-tint;

// Footer colours
$cads-color-footer-text: $cads-palette__white;
$cads-color-footer-background: $docs-palette-black;
