- checkbox = { "name" => "example-checkbox-with-hint", "label" => "Example checkbox", "hint" => "This is the hint for the checkbox" }
= render partial: "@citizensadvice/design-system/haml/checkbox", locals: { checkbox: checkbox }
