- checkbox = { "name" => "example-checkbox-optional", "label" => "Example checkbox", "hint" => "This is the hint for the checkbox", "optional" => true }
= render partial: "@citizensadvice/design-system/haml/checkbox", locals: { checkbox: checkbox }
