- checkbox = { "name" => "example-checkbox-with-error", "label" => "Example checkbox", "hint" => "This is the hint for the checkbox", "optional" => true, "error_message" => "This is an error messsage", "has_error" => true }
= render partial: "@citizensadvice/design-system/haml/checkbox", locals: { checkbox: checkbox }
