= render partial: "@citizensadvice/design-system/haml/header",
  locals: { "root_path" => "#", "alt_language" => { "url" => "?lang=cy", "title" => "Cymraegy" }, "sign_in" => { "url" => "/sign-out/url", "text" => "Sign out" }, "search_action_url" => "/search" }
