---
title: Accessibility
layout: default
---

<main id="cads-main-content" class="cads-grid-container">
  <div class="cads-grid-row">
    <div class="cads-grid-col-md-8 cads-page-content">
      <h1 class="cads-page-title">Accessibility</h1>
      <div class="cads-prose">
        <p>
          <a href="/accessibility/general-accessibility">General accessibility</a>
        </p>
      </div>
      <div class="text-list">
        <h2 class="text-list__title" id="h-for-designers">Accessibility for designers</h2>
        <ul class="text-list__links">
          <% collections.accessibility_for_designers.resources.each do |foundation| %>
            <li><a href="<%= foundation.relative_url %>"><%= foundation.data.title %></a></li>
          <% end %>
        </ul>
      </div>
      <div class="text-list">
        <h2 class="text-list__title" id="h-for-content-designers">Accessibility for content designers</h2>
        <ul class="text-list__links">
          <li>
            <a href="/accessibility/accessibility-for-content-designers">General accessibility for content designers</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
