---
title: Components
layout: default
---

<main id="cads-main-content" class="cads-grid-container">
  <div class="cads-grid-row">
    <div class="cads-grid-col-md-9">
      <%= render "notice_banner" %>
    </div>
  </div>
  <div class="cads-grid-row">
    <div class="cads-grid-col-md-8 cads-page-content">
      <h1 class="cads-page-title"><%= resource.data.title %></h1>
      <div class="text-list">
        <ul class="text-list__links">
          <% collections.component_docs.resources.each do |foundation| %>
            <li><a href="<%= foundation.relative_url %>"><%= foundation.data.title %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
