---
title: Components
layout: default
---

<%= render Shared::PageLayout.new do |c| %>
  <% c.with_main do %>
    <h1 class="cads-page-title"><%= resource.data.title %></h1>
    <div class="text-list">
      <ul class="text-list__links">
        <% collections.component_docs.resources.each do |resource| %>
          <li><a href="<%= resource.relative_url %>"><%= resource.data.title %></a></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
