button,
.cads-button {
    @include cads-interactive-element();
    cursor: pointer;

    &,
    &__primary {
        background-color: $cads-palette__heritage-blue;
        color: $cads-palette__white;
        border-color: $cads-palette__heritage-blue;

        &:hover {
            color: $cads-palette__heritage-blue;
            background-color: $cads-palette__white;
        }
    }

    &__secondary {
        background-color: $cads-palette__heritage-yellow;
        color: $cads-palette__black;
        border-color: $cads-palette__heritage-yellow;

        &:hover {
            color: $cads-palette__black;
            background-color: $cads-palette__white;
        }
    }

    &:active {
        background-color: $cads-palette__heritage-yellow;
        color: $cads-palette__black;
        border-color: $cads-palette__black;
    }
}
