h1,
.h1 {
    font-size: 3em;
    line-height: 1.25em;
    color: $cads-palette__heritage-blue;
    font-weight: $cads-font-weight__bold;
    margin: 0;
    padding: 1em 0 1em 0;

    @include cads-media-breakpoint-down(md) {
        font-size: 1.75em;
        padding: 1em 0 1em 0;
    }
}

h2,
.h2 {
    font-size: 1.75em;
    line-height: 1.25em;
    font-weight: $cads-font-weight__bold;
    color: $cads-palette__heritage-blue;
    margin: 0;
    padding: 1em 0 1em 0;

    @include cads-media-breakpoint-down(md) {
        font-size: 1.25em;
        padding: 0.75em 0 0.75em 0;
    }
}

h3,
.h3 {
    font-size: 1.25em;
    line-height: 1.25em;
    color: $cads-palette__heritage-blue;
    font-weight: $cads-font-weight__bold;
    margin: 0;
    padding: 0.75em 0 0.75em 0;

    @include cads-media-breakpoint-down(md) {
        font-size: 1.25em;
        padding: 0.75em 0 0.75em 0;
    }
}

h4,
.h4 {
    font-size: 1.125em;
    line-height: 1.5em;
    font-weight: $cads-font-weight__bold;
    color: $cads-palette__black;
    margin: 0;
    padding: 0.75em 0 0 0;

    @include cads-media-breakpoint-down(sm) {
        font-size: 1em;
        padding: 0.75em 0 0.75em 0;
    }
}

p,
.paragraph {
    font-size: 1.125em;
    line-height: 1.5em;
    font-weight: $cads-font-weight__regular;

    @include cads-media-breakpoint-down(sm) {
        font-size: 1em;
        padding: 0.75em 0 0.75em 0;
    }
}

.paragraph-s {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: $cads-font-weight__regular;

    @include cads-media-breakpoint-down(sm) {
        font-size: .875em;
        padding: 0.75em 0 0.75em 0;
    }
}
