.cads-logo {
    background-image: url('/assets/ca-logo_100px.svg');
    width: 100px;
    height: 100px;
    margin-right: 2em; // Always leave a gap to anything after it
    display: inline-block;
    transition: scale $cads-animation-speed;

    &:hover {
        scale: 1.1;
    }
}
