<%= render CitizensAdviceComponents::PageContent.new do |c| %>
  <% c.with_main do %>
    <h1 class="cads-page-title"><%= title t("sections.components.title") %></h1>
    <div class="text-list">
      <ul class="text-list__links">
        <% @components.each do |component| %>
          <li><%= link_to component, component_path(component) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
