name: BrowserStack

# BrowserStack tests are run against the deployed GitHub pages URL
# The closest event we can use to trigger when these are updated is page_build.
on:

jobs:
  browserstack:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - config: 'Windows_10_92'
            browser: 'chrome'
            browserstack_username: 'PRO_BROWSERSTACK_USERNAME'
            browserstack_access_key: 'PRO_BROWSERSTACK_ACCESS_KEY'
          - config: 'Windows_7_89'
            browser: 'chrome'
            browserstack_username: 'PRO_BROWSERSTACK_USERNAME'
            browserstack_access_key: 'PRO_BROWSERSTACK_ACCESS_KEY'
          - config: 'Windows_10_90'
            browser: 'firefox'
            browserstack_username: 'PRO_BROWSERSTACK_USERNAME'
            browserstack_access_key: 'PRO_BROWSERSTACK_ACCESS_KEY'
          - config: 'Windows_7_88'
            browser: 'firefox'
            browserstack_username: 'PRO_BROWSERSTACK_USERNAME'
            browserstack_access_key: 'PRO_BROWSERSTACK_ACCESS_KEY'
          - config: 'Windows_10_92'
            browser: 'edge'
            browserstack_username: 'PRO_BROWSERSTACK_USERNAME'
            browserstack_access_key: 'PRO_BROWSERSTACK_ACCESS_KEY'
          - config: 'OSX_Mojave_12'
            browser: 'safari'
            browserstack_username: 'PRO_BROWSERSTACK_USERNAME'
            browserstack_access_key: 'PRO_BROWSERSTACK_ACCESS_KEY'
          - config: 'iPhone11_13'
            browser: 'ios'
            browserstack_username: 'MOBILE_BROWSERSTACK_USERNAME'
            browserstack_access_key: 'MOBILE_BROWSERSTACK_ACCESS_KEY'
          - config: 'iPhone8_12'
            browser: 'ios'
            browserstack_username: 'MOBILE_BROWSERSTACK_USERNAME'
            browserstack_access_key: 'MOBILE_BROWSERSTACK_ACCESS_KEY'
          - config: 'iPad7th_13'
            browser: 'ios'
            browserstack_username: 'MOBILE_BROWSERSTACK_USERNAME'
            browserstack_access_key: 'MOBILE_BROWSERSTACK_ACCESS_KEY'
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: bundle exec rake design_system:all
        env:
          BROWSERSTACK: true
          BROWSERSTACK_BUILD_NAME: ${{ format('Workflow run {0}', github.run_number) }}
          HEADLESS: false
          LOG_LOCATION: automation_logs.log
          BROWSER: ${{ matrix.browser }}
          BROWSERSTACK_CONFIGURATION_OPTIONS: ${{ matrix.config }}
          BROWSERSTACK_USERNAME: ${{ secrets[matrix.browserstack_username] }}
          BROWSERSTACK_ACCESS_KEY: ${{ secrets[matrix.browserstack_access_key] }}
          TESTING_BASE_URL: 'https://citizensadvice.github.io/design-system'

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: grid-artifacts
          path: testing/artifacts
          retention-days: 3
