- lorem = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a urna nisl. Aenean euismod purus a magna vulputate, eget volutpat neque volutpat. Donec dapibus scelerisque diam eu scelerisque. Vestibulum laoreet magna sagittis felis pellentesque semper. Nullam porta, arcu rhoncus euismod porttitor, risus augue bibendum ipsum, eget tincidunt mi lectus eget eros. Donec nisl ipsum, facilisis vitae tortor maximus, venenatis mattis purus. Quisque fringilla gravida arcu, ut bibendum nibh malesuada at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
= render CitizensAdviceComponents::ErrorSummary.new do |c|
  - c.errors([{ href: "#email-input", message: "Enter an email address in the correct format, like name@example.com" }])

= render CitizensAdviceComponents::Input.new(name: "email", label: "Email address", type: :email, options: { value: "helloexample.com", error_message: "Enter a valid email address, like name@example.com" })

- 8.times do
  %p= lorem
